<span class=''>
  <div > 
    <table><caption>$lib_entete</caption>       
        <tr> 
            <td><img src='client-side/image/b_drop.png' width='16' height='16'></td>
            <td Align='center'>$id_name</td>
			<td Align='center'>$lib_name</td>
			<td Align='center'>$lib_ord</td>
			<td Align='center'>$lib_ordre</td>
        </tr>
        
        <tr> 
            <td><INPUT type='checkbox' name='DELETE_0' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_0' value='$CODE_0' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_0' value="$LIBELLE_0"  size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_0' value='$ORD_0' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_0' value='$ORDRE_0' size='3'  Class ='Defaut_Ligne'  readonly></td>							
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_1' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_1' value='$CODE_1' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_1' value="$LIBELLE_1" size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_1' value='$ORD_1' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_1' value='$ORDRE_1' size='3' Class ='Defaut_Ligne'  readonly></td>							
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_2' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_2' value='$CODE_2' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_2' value="$LIBELLE_2"  size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_2' value='$ORD_2' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_2' value='$ORDRE_2' size='3' Class ='Defaut_Ligne'  readonly></td>
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_3' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_3' value='$CODE_3' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_3' value="$LIBELLE_3"  size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_3' value='$ORD_3' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_3' value='$ORDRE_3' size='3' Class ='Defaut_Ligne'  readonly></td>
        </tr>
		<tr> 
              <td><INPUT type='checkbox' name='DELETE_4' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_4' value='$CODE_4' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_4' value="$LIBELLE_4" size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_4' value='$ORD_4' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_4' value='$ORDRE_4' size='3' Class ='Defaut_Ligne'  readonly></td>
        </tr>
		<tr> 
              <td><INPUT type='checkbox' name='DELETE_5' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_5' value='$CODE_5' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_5' value="$LIBELLE_5" size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_5' value='$ORD_5' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_5' value='$ORDRE_5' size='3' Class ='Defaut_Ligne'  readonly></td>
        </tr>
		<tr> 
              <td><INPUT type='checkbox' name='DELETE_6' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_6' value='$CODE_6' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_6' value="$LIBELLE_6" size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_6' value='$ORD_6' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_6' value='$ORDRE_6' size='3' Class ='Defaut_Ligne'  readonly></td>
        </tr>
		<tr> 
              <td><INPUT type='checkbox' name='DELETE_7' value=1  onClick=Alert_Supp(this.name); $disabled></td>
              <td><INPUT type='text' name='CODE_7' value='$CODE_7' size='3' Class ='Defaut_Ligne' $readonly ></td>
              <td><INPUT type='text' name='LIBELLE_7' value="$LIBELLE_7" size='40' $readonly></td>
			  <td><INPUT type='text' name='ORD_7' value='$ORD_7' size='3' $readonly></td>
              <td><INPUT type='text' name='ORDRE_7' value='$ORDRE_7' size='3' Class ='Defaut_Ligne'  readonly></td>
        </tr>
    </table>
    </div>    <br>