<span class=''>
  <div >
    <table border='1'><caption>Repartition de la Population par $lib_entete et par Tranche d'Age</caption>
        <tr>
            <td ROWSPAN='2'><img src='client-side/image/b_drop.png' width='16' height='16'></td>
            <td ROWSPAN='2' Align='center'>$id_name</td>
			<td ROWSPAN='2' Align='center'>$lib_name</td>
<TD align='center' COLSPAN='2'>7 ans               </TD>
<TD align='center' COLSPAN='2'>12 ans              </TD>
<TD align='center' COLSPAN='2'>7-12 ans            </TD>
<TD align='center' COLSPAN='2'>3-5 ans             </TD>
		</tr>
	<TR>
		<TD align='center'>G</TD>
		<TD align='center'>F</TD>
		<TD align='center'>G</TD>
		<TD align='center'>F</TD>
		<TD align='center'>G</TD>
		<TD align='center'>F</TD>
		<TD align='center'>G</TD>
		<TD align='center'>F</TD>
	</TR>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_0_0' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT type='checkbox' name='DELETE_0' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_0_1' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT type='text' name='CODE_REGROUPEMENT_0' value='$CODE_REGROUPEMENT_0' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_0_2' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT type='text' name='LIBELLE_0' value="$LIBELLE_0" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_0_3' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_GARCONS_913229_1' NAME='POPULATION_GARCONS_913229_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913229_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_0_4' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_FILLES_913229_1' NAME='POPULATION_FILLES_913229_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913229_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_0_5' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_GARCONS_913229_2' NAME='POPULATION_GARCONS_913229_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913229_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_0_6' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_FILLES_913229_2' NAME='POPULATION_FILLES_913229_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913229_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_0_7' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_GARCONS_913229_3' NAME='POPULATION_GARCONS_913229_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913229_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_0_8' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_FILLES_913229_3' NAME='POPULATION_FILLES_913229_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913229_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_0_9' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_GARCONS_913229_4' NAME='POPULATION_GARCONS_913229_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913229_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_0_10' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT  ID='POPULATION_FILLES_913229_4' NAME='POPULATION_FILLES_913229_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913229_4"/></TD>
        </tr>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_1_0' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT type='checkbox' name='DELETE_1' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_1_1' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT type='text' name='CODE_REGROUPEMENT_1' value='$CODE_REGROUPEMENT_1' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_1_2' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT type='text' name='LIBELLE_1' value="$LIBELLE_1" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_1_3' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_GARCONS_913230_1' NAME='POPULATION_GARCONS_913230_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913230_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_1_4' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_FILLES_913230_1' NAME='POPULATION_FILLES_913230_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913230_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_1_5' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_GARCONS_913230_2' NAME='POPULATION_GARCONS_913230_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913230_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_1_6' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_FILLES_913230_2' NAME='POPULATION_FILLES_913230_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913230_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_1_7' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_GARCONS_913230_3' NAME='POPULATION_GARCONS_913230_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913230_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_1_8' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_FILLES_913230_3' NAME='POPULATION_FILLES_913230_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913230_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_1_9' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_GARCONS_913230_4' NAME='POPULATION_GARCONS_913230_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913230_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_1_10' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT  ID='POPULATION_FILLES_913230_4' NAME='POPULATION_FILLES_913230_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913230_4"/></TD>
        </tr>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_2_0' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT type='checkbox' name='DELETE_2' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_2_1' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT type='text' name='CODE_REGROUPEMENT_2' value='$CODE_REGROUPEMENT_2' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_2_2' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT type='text' name='LIBELLE_2' value="$LIBELLE_2" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_2_3' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_GARCONS_913231_1' NAME='POPULATION_GARCONS_913231_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913231_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_2_4' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_FILLES_913231_1' NAME='POPULATION_FILLES_913231_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913231_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_2_5' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_GARCONS_913231_2' NAME='POPULATION_GARCONS_913231_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913231_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_2_6' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_FILLES_913231_2' NAME='POPULATION_FILLES_913231_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913231_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_2_7' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_GARCONS_913231_3' NAME='POPULATION_GARCONS_913231_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913231_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_2_8' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_FILLES_913231_3' NAME='POPULATION_FILLES_913231_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913231_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_2_9' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_GARCONS_913231_4' NAME='POPULATION_GARCONS_913231_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913231_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_2_10' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT  ID='POPULATION_FILLES_913231_4' NAME='POPULATION_FILLES_913231_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913231_4"/></TD>
        </tr>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_3_0' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT type='checkbox' name='DELETE_3' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_3_1' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT type='text' name='CODE_REGROUPEMENT_3' value='$CODE_REGROUPEMENT_3' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_3_2' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT type='text' name='LIBELLE_3' value="$LIBELLE_3" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_3_3' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_GARCONS_913232_1' NAME='POPULATION_GARCONS_913232_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913232_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_3_4' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_FILLES_913232_1' NAME='POPULATION_FILLES_913232_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913232_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_3_5' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_GARCONS_913232_2' NAME='POPULATION_GARCONS_913232_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913232_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_3_6' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_FILLES_913232_2' NAME='POPULATION_FILLES_913232_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913232_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_3_7' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_GARCONS_913232_3' NAME='POPULATION_GARCONS_913232_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913232_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_3_8' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_FILLES_913232_3' NAME='POPULATION_FILLES_913232_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913232_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_3_9' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_GARCONS_913232_4' NAME='POPULATION_GARCONS_913232_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913232_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_3_10' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT  ID='POPULATION_FILLES_913232_4' NAME='POPULATION_FILLES_913232_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913232_4"/></TD>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_4_0' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT type='checkbox' name='DELETE_4' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_4_1' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT type='text' name='CODE_REGROUPEMENT_4' value='$CODE_REGROUPEMENT_4' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_4_2' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT type='text' name='LIBELLE_4' value="$LIBELLE_4" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_4_3' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_GARCONS_913233_1' NAME='POPULATION_GARCONS_913233_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913233_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_4_4' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_FILLES_913233_1' NAME='POPULATION_FILLES_913233_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913233_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_4_5' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_GARCONS_913233_2' NAME='POPULATION_GARCONS_913233_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913233_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_4_6' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_FILLES_913233_2' NAME='POPULATION_FILLES_913233_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913233_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_4_7' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_GARCONS_913233_3' NAME='POPULATION_GARCONS_913233_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913233_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_4_8' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_FILLES_913233_3' NAME='POPULATION_FILLES_913233_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913233_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_4_9' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_GARCONS_913233_4' NAME='POPULATION_GARCONS_913233_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913233_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_4_10' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT  ID='POPULATION_FILLES_913233_4' NAME='POPULATION_FILLES_913233_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913233_4"/></TD>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_5_0' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT type='checkbox' name='DELETE_5' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_5_1' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT type='text' name='CODE_REGROUPEMENT_5' value='$CODE_REGROUPEMENT_5' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_5_2' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT type='text' name='LIBELLE_5' value="$LIBELLE_5" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_5_3' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_GARCONS_913234_1' NAME='POPULATION_GARCONS_913234_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913234_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_5_4' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_FILLES_913234_1' NAME='POPULATION_FILLES_913234_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913234_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_5_5' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_GARCONS_913234_2' NAME='POPULATION_GARCONS_913234_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913234_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_5_6' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_FILLES_913234_2' NAME='POPULATION_FILLES_913234_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913234_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_5_7' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_GARCONS_913234_3' NAME='POPULATION_GARCONS_913234_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913234_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_5_8' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_FILLES_913234_3' NAME='POPULATION_FILLES_913234_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913234_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_5_9' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_GARCONS_913234_4' NAME='POPULATION_GARCONS_913234_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913234_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_5_10' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT  ID='POPULATION_FILLES_913234_4' NAME='POPULATION_FILLES_913234_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913234_4"/></TD>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_6_0' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT type='checkbox' name='DELETE_6' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_6_1' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT type='text' name='CODE_REGROUPEMENT_6' value='$CODE_REGROUPEMENT_6' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_6_2' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT type='text' name='LIBELLE_6' value="$LIBELLE_6" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_6_3' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_GARCONS_913235_1' NAME='POPULATION_GARCONS_913235_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913235_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_6_4' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_FILLES_913235_1' NAME='POPULATION_FILLES_913235_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913235_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_6_5' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_GARCONS_913235_2' NAME='POPULATION_GARCONS_913235_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913235_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_6_6' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_FILLES_913235_2' NAME='POPULATION_FILLES_913235_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913235_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_6_7' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_GARCONS_913235_3' NAME='POPULATION_GARCONS_913235_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913235_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_6_8' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_FILLES_913235_3' NAME='POPULATION_FILLES_913235_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913235_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_6_9' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_GARCONS_913235_4' NAME='POPULATION_GARCONS_913235_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913235_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_6_10' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT  ID='POPULATION_FILLES_913235_4' NAME='POPULATION_FILLES_913235_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913235_4"/></TD>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_7_0' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT type='checkbox' name='DELETE_7' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_7_1' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT type='text' name='CODE_REGROUPEMENT_7' value='$CODE_REGROUPEMENT_7' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_7_2' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT type='text' name='LIBELLE_7' value="$LIBELLE_7" size='25' readonly='1'></td>
		<td class='ligne-impaire'  id='ligne-impaire_7_3' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_GARCONS_913236_1' NAME='POPULATION_GARCONS_913236_1' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913236_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_7_4' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_FILLES_913236_1' NAME='POPULATION_FILLES_913236_1' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913236_1"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_7_5' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_GARCONS_913236_2' NAME='POPULATION_GARCONS_913236_2' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913236_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_7_6' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_FILLES_913236_2' NAME='POPULATION_FILLES_913236_2' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913236_2"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_7_7' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_GARCONS_913236_3' NAME='POPULATION_GARCONS_913236_3' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913236_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_7_8' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_FILLES_913236_3' NAME='POPULATION_FILLES_913236_3' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913236_3"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_7_9' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_GARCONS_913236_4' NAME='POPULATION_GARCONS_913236_4' TYPE='text' size='5'  VALUE="$POPULATION_GARCONS_913236_4"/></TD>
		<td class='ligne-impaire'  id='ligne-impaire_7_10' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT  ID='POPULATION_FILLES_913236_4' NAME='POPULATION_FILLES_913236_4' TYPE='text' size='5'  VALUE="$POPULATION_FILLES_913236_4"/></TD>
        </tr>
    </table>
</div>    <br>
