<span class=''>
  <div > 
    <table>
        <tr> 
            <td><img src='client-side/image/sav_loc.gif' width='20' height='20'></td>
            <td Align='center'>$id_name</td>
            <td Align='center'>$lib_name</td>
        </tr>        
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_0' value=1 $CHECKED_0 ></td>
              <td><INPUT type='text' name='CODE_0' value='$CODE_0'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_0'  value="$LIBELLE_0"  size='35' Class ='Defaut_Ligne'  readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_1' value=1 $CHECKED_1></td>
              <td><INPUT type='text' name='CODE_1' value='$CODE_1'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_1'  value="$LIBELLE_1"  size='35' Class ='Defaut_Ligne'  readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_2' value=1 $CHECKED_2></td>
              <td><INPUT type='text' name='CODE_2' value='$CODE_2'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_2'  value="$LIBELLE_2"  size='35' Class ='Defaut_Ligne'  readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_3' value=1 $CHECKED_3></td>
              <td><INPUT type='text' name='CODE_3' value='$CODE_3'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_3'  value="$LIBELLE_3"  size='35' Class ='Defaut_Ligne'  readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_4' value=1 $CHECKED_4></td>
              <td><INPUT type='text' name='CODE_4' value='$CODE_4'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_4'  value="$LIBELLE_4"  size='35' Class ='Defaut_Ligne'  readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_5' value=1 $CHECKED_5 ></td>
              <td><INPUT type='text' name='CODE_5' value='$CODE_5'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_5'  value="$LIBELLE_5"  size='35' Class ='Defaut_Ligne'  readonly></td>             						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_6' value=1 $CHECKED_6></td>
              <td><INPUT type='text' name='CODE_6' value='$CODE_6'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_6'  value="$LIBELLE_6"  size='35' Class ='Defaut_Ligne'  readonly></td>              					
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_7' value=1 $CHECKED_7></td>
              <td><INPUT type='text' name='CODE_7' value='$CODE_7'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_7'  value="$LIBELLE_7"  size='35' Class ='Defaut_Ligne'  readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_8' value=1 $CHECKED_8></td>
              <td><INPUT type='text' name='CODE_8' value='$CODE_8'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_8'  value="$LIBELLE_8"  size='35' Class ='Defaut_Ligne'  readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_9' value=1 $CHECKED_9></td>
              <td><INPUT type='text' name='CODE_9' value='$CODE_9'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_9'  value="$LIBELLE_9"  size='35' Class ='Defaut_Ligne'  readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_10' value=1 $CHECKED_10 ></td>
              <td><INPUT type='text' name='CODE_10' value='$CODE_10'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_10'  value="$LIBELLE_10"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_11' value=1 $CHECKED_11></td>
              <td><INPUT type='text' name='CODE_11' value='$CODE_11'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_11'  value="$LIBELLE_11"  size='35' Class ='Defaut_Ligne'  readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_12' value=1 $CHECKED_12></td>
              <td><INPUT type='text' name='CODE_12' value='$CODE_12'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_12'  value="$LIBELLE_12"  size='35' Class ='Defaut_Ligne'  readonly></td>             
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_13' value=1 $CHECKED_13></td>
              <td><INPUT type='text' name='CODE_13' value='$CODE_13'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_13'  value="$LIBELLE_13"  size='35'  Class ='Defaut_Ligne'  readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_14' value=1 $CHECKED_14></td>
              <td><INPUT type='text' name='CODE_14' value='$CODE_14'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_14'  value="$LIBELLE_14"  size='35' Class ='Defaut_Ligne'  readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_15' value=1 $CHECKED_15 ></td>
              <td><INPUT type='text' name='CODE_15' value='$CODE_15'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_15'  value="$LIBELLE_15"  size='35' Class ='Defaut_Ligne'  readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_16' value=1 $CHECKED_16></td>
              <td><INPUT type='text' name='CODE_16' value='$CODE_16'  size='25'  Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_16'  value="$LIBELLE_16"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_17' value=1 $CHECKED_17></td>
              <td><INPUT type='text' name='CODE_17' value='$CODE_17'  size='25' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='LIBELLE_17'  value="$LIBELLE_17"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_18' value=1 $CHECKED_18></td>
              <td><INPUT type='text' name='CODE_18' value='$CODE_18'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_18'  value="$LIBELLE_18"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_19' value=1 $CHECKED_19></td>
              <td><INPUT type='text' name='CODE_19' value='$CODE_19'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_19'  value="$LIBELLE_19"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_20' value=1 $CHECKED_20 ></td>
              <td><INPUT type='text' name='CODE_20' value='$CODE_20'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_20'  value="$LIBELLE_20"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_21' value=1 $CHECKED_21></td>
              <td><INPUT type='text' name='CODE_21' value='$CODE_21'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_21'  value="$LIBELLE_21"  size='35' Class ='Defaut_Ligne' readonly></td>             					
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_22' value=1 $CHECKED_22></td>
              <td><INPUT type='text' name='CODE_22' value='$CODE_22'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_22'  value="$LIBELLE_22"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_23' value=1 $CHECKED_23></td>
              <td><INPUT type='text' name='CODE_23' value='$CODE_23'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_23'  value="$LIBELLE_23"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_24' value=1 $CHECKED_24></td>
              <td><INPUT type='text' name='CODE_24' value='$CODE_24'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_24'  value="$LIBELLE_24"  size='35' Class ='Defaut_Ligne' readonly></td>              							
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_25' value=1 $CHECKED_25 ></td>
              <td><INPUT type='text' name='CODE_25' value='$CODE_25'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_25'  value="$LIBELLE_25"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_26' value=1 $CHECKED_26></td>
              <td><INPUT type='text' name='CODE_26' value='$CODE_26'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_26'  value="$LIBELLE_26"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_27' value=1 $CHECKED_27></td>
              <td><INPUT type='text' name='CODE_27' value='$CODE_27'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_27'  value="$LIBELLE_27"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_28' value=1 $CHECKED_28></td>
              <td><INPUT type='text' name='CODE_28' value='$CODE_28'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_28'  value="$LIBELLE_28"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_29' value=1 $CHECKED_29></td>
              <td><INPUT type='text' name='CODE_29' value='$CODE_29'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_29'  value="$LIBELLE_29"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_30' value=1 $CHECKED_30 ></td>
              <td><INPUT type='text' name='CODE_30' value='$CODE_30'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_30'  value="$LIBELLE_30"  size='35' Class ='Defaut_Ligne' readonly></td>              					
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_31' value=1 $CHECKED_31></td>
              <td><INPUT type='text' name='CODE_31' value='$CODE_31'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_31'  value="$LIBELLE_31"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_32' value=1 $CHECKED_32></td>
              <td><INPUT type='text' name='CODE_32' value='$CODE_32'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_32'  value="$LIBELLE_32"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_33' value=1 $CHECKED_33></td>
              <td><INPUT type='text' name='CODE_33' value='$CODE_33'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_33'  value="$LIBELLE_33"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_34' value=1 $CHECKED_34></td>
              <td><INPUT type='text' name='CODE_34' value='$CODE_34'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_34'  value="$LIBELLE_34"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_35' value=1 $CHECKED_35></td>
              <td><INPUT type='text' name='CODE_35' value='$CODE_35'  size='25' Class ='Defaut_Ligne' readonly ></td>
              <td><INPUT type='text' name='LIBELLE_35'  value="$LIBELLE_35"  size='35' Class ='Defaut_Ligne' readonly></td>             
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_36' value=1 $CHECKED_36></td>
              <td><INPUT type='text' name='CODE_36' value='$CODE_36'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_36'  value="$LIBELLE_36"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_37' value=1 $CHECKED_37></td>
              <td><INPUT type='text' name='CODE_37' value='$CODE_37'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_37'  value="$LIBELLE_37"  size='35' Class ='Defaut_Ligne' readonly></td>              						
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_38' value=1 $CHECKED_38></td>
              <td><INPUT type='text' name='CODE_38' value='$CODE_38'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_38'  value="$LIBELLE_38"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_39' value=1 $CHECKED_39></td>
              <td><INPUT type='text' name='CODE_39' value='$CODE_39'  size='25' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='LIBELLE_39'  value="$LIBELLE_39"  size='35' Class ='Defaut_Ligne' readonly></td>              
        </tr>        
    </table>    