
<span class=''>
  <div > 
    <table  width="94%">
        <caption>
        $lib_entete
        </caption>
        <tr> 
            <td>$id_name</td>
            <td>$lib_name</td>
            <td>$lib_ordre</td>
        </tr>
        <tr> 
            <td>$CODE_0</td>
            <td>$LIBELLE_0</td>
            <td>$COMBO_LINK_TO_0</td>
        </tr>
        <tr> 
            <td>$CODE_1</td>
            <td>$LIBELLE_1</td>
            <td>$COMBO_LINK_TO_1</td>
        </tr>
        <tr> 
            <td>$CODE_2</td>
            <td>$LIBELLE_2</td>
            <td>$COMBO_LINK_TO_2</td>
        </tr>
        <tr> 
            <td>$CODE_3</td>
            <td>$LIBELLE_3</td>
            <td>$COMBO_LINK_TO_3</td>
        </tr>
        <tr> 
            <td>$CODE_4</td>
            <td>$LIBELLE_4</td>
            <td>$COMBO_LINK_TO_4</td>
        </tr>
        <tr> 
            <td>$CODE_5</td>
            <td>$LIBELLE_5</td>
            <td>$COMBO_LINK_TO_5</td>
        </tr>
        <tr> 
            <td>$CODE_6</td>
            <td>$LIBELLE_6</td> 
            <td>$COMBO_LINK_TO_6</td>
        </tr>
        <tr> 
            <td>$CODE_7</td>
            <td>$LIBELLE_7</td>
            <td>$COMBO_LINK_TO_7</td>
        </tr>
    </table>
    </div>    <br>