<span class=''>
  <div > 
    <table>        
        <tr> <caption>$lib_entete</caption>
            <td><img src='client-side/image/b_drop.png' width='16' height='16'></td>
            <td  align='center' >$id_name</td>
			<td Align='center'>$lib_name_long</td>
			<td Align='center'>$lib_email</td>
			<td Align='center'>$lib_tel</td>
			<td Align='center'>$lib_name</td>
			<td Align='center'>$lib_ordre</td>
        </tr>
        
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_0' value=1 $disabled onClick=Alert_Supp(this.name); ></td>
              <td><INPUT type='text' name='CODE_0' value='$CODE_0' size='1' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_0' value="$NOM_LONG_USER_0"  size='30'></td>
              <td><INPUT type='text' name='EMAIL_USER_0' value="$EMAIL_USER_0"  size='20'></td>
              <td><INPUT type='text' name='TEL_USER_0' value="$TEL_USER_0"  size='20'></td>
              <td><INPUT type='text' name='LIBELLE_0' value="$LIBELLE_0"  size='15'></td>
              <td><INPUT type='text' name='ORDRE_0' value='$ORDRE_0' size='30'></td>
			  <td>$USER_PRIVILEGE_0</td>
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_1' value=1 $disabled onClick=Alert_Supp(this.name);></td>
              <td><INPUT type='text' name='CODE_1' value='$CODE_1' size='1' Class ='Defaut_Ligne' readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_1' value="$NOM_LONG_USER_1"  size='30' $readonly></td>
              <td><INPUT type='text' name='EMAIL_USER_1' value="$EMAIL_USER_1"  size='20' $readonly></td>
              <td><INPUT type='text' name='TEL_USER_1' value="$TEL_USER_1"  size='20' $readonly></td>
              <td><INPUT type='text' name='LIBELLE_1' value="$LIBELLE_1" size='15' $readonly></td>
              <td><INPUT type='text' name='ORDRE_1' value='$ORDRE_1' size='30' $readonly></td>
			  <td>$USER_PRIVILEGE_1</td>
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_2' value=1 $disabled onClick=Alert_Supp(this.name);></td>
              <td><INPUT type='text' name='CODE_2' value='$CODE_2' size='1'  Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_2' value="$NOM_LONG_USER_2"  size='30' $readonly></td>
              <td><INPUT type='text' name='EMAIL_USER_2' value="$EMAIL_USER_2"  size='20' $readonly></td>
              <td><INPUT type='text' name='TEL_USER_2' value="$TEL_USER_2"  size='20' $readonly></td>
              <td><INPUT type='text' name='LIBELLE_2' value="$LIBELLE_2"  size='15' $readonly></td>
              <td><INPUT type='text' name='ORDRE_2' value='$ORDRE_2' size='30' $readonly></td>
			  <td>$USER_PRIVILEGE_2</td>	
        </tr>
        <tr> 
              <td><INPUT type='checkbox' name='DELETE_3' value=1 $disabled onClick=Alert_Supp(this.name);></td>
              <td><INPUT type='text' name='CODE_3' value='$CODE_3' size='1' Class ='Defaut_Ligne'   readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_3' value="$NOM_LONG_USER_3"  size='30' $readonly></td>
              <td><INPUT type='text' name='EMAIL_USER_3' value="$EMAIL_USER_3"  size='20' $readonly></td>
              <td><INPUT type='text' name='TEL_USER_3' value="$TEL_USER_3"  size='20' $readonly></td>
              <td><INPUT type='text' name='LIBELLE_3' value="$LIBELLE_3"  size='15' $readonly></td>
              <td><INPUT type='text' name='ORDRE_3' value='$ORDRE_3' size='30' $readonly></td>
			  <td>$USER_PRIVILEGE_3</td>
        </tr>
				<tr> 
              <td><INPUT type='checkbox' name='DELETE_4' value=1 $disabled onClick=Alert_Supp(this.name);></td>
              <td><INPUT type='text' name='CODE_4' value='$CODE_4' size='1' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_4' value="$NOM_LONG_USER_4"  size='30' $readonly></td>
              <td><INPUT type='text' name='EMAIL_USER_4' value="$EMAIL_USER_4"  size='20' $readonly></td>
              <td><INPUT type='text' name='TEL_USER_4' value="$TEL_USER_4"  size='20' $readonly></td>
              <td><INPUT type='text' name='LIBELLE_4' value="$LIBELLE_4" size='15' $readonly></td>
              <td><INPUT type='text' name='ORDRE_4' value='$ORDRE_4' size='30' $readonly></td>
			  <td>$USER_PRIVILEGE_4</td>
        </tr>
        </tr>
				<tr> 
              <td><INPUT type='checkbox' name='DELETE_5' value=1 $disabled onClick=Alert_Supp(this.name);></td>
              <td><INPUT type='text' name='CODE_5' value='$CODE_5' size='1' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_5' value="$NOM_LONG_USER_5"  size='30' $readonly></td>
              <td><INPUT type='text' name='EMAIL_USER_5' value="$EMAIL_USER_5"  size='20' $readonly></td>
              <td><INPUT type='text' name='TEL_USER_5' value="$TEL_USER_5"  size='20' $readonly></td>
              <td><INPUT type='text' name='LIBELLE_5' value="$LIBELLE_5" size='15' $readonly></td>
              <td><INPUT type='text' name='ORDRE_5' value='$ORDRE_5' size='30' $readonly></td>
			  <td>$USER_PRIVILEGE_5</td>
        </tr>
        </tr>
				<tr> 
              <td><INPUT type='checkbox' name='DELETE_6' value=1 $disabled onClick=Alert_Supp(this.name);></td>
              <td><INPUT type='text' name='CODE_6' value='$CODE_6' size='1' Class ='Defaut_Ligne'  readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_6' value="$NOM_LONG_USER_6"  size='30' $readonly></td>
              <td><INPUT type='text' name='EMAIL_USER_6' value="$EMAIL_USER_6"  size='20' $readonly></td>
              <td><INPUT type='text' name='TEL_USER_6' value="$TEL_USER_6"  size='20' $readonly></td>
              <td><INPUT type='text' name='LIBELLE_6' value="$LIBELLE_6" size='15' $readonly></td>
              <td><INPUT type='text' name='ORDRE_6' value='$ORDRE_6' size='30' $readonly></td>
			  <td>$USER_PRIVILEGE_6</td>
        </tr>
        </tr>
				<tr> 
              <td><INPUT type='checkbox' name='DELETE_7' value=1 $disabled onClick=Alert_Supp(this.name);></td>
              <td><INPUT type='text' name='CODE_7' value='$CODE_7' size='1' Class ='Defaut_Ligne'   readonly></td>
              <td><INPUT type='text' name='NOM_LONG_USER_7' value="$NOM_LONG_USER_7"  size='30' $readonly></td>
              <td><INPUT type='text' name='EMAIL_USER_7' value="$EMAIL_USER_7"  size='20' $readonly></td>
              <td><INPUT type='text' name='TEL_USER_7' value="$TEL_USER_7"  size='20' $readonly></td>
              <td><INPUT type='text' name='LIBELLE_7' value="$LIBELLE_7" size='15' $readonly></td>
              <td><INPUT type='text' name='ORDRE_7' value='$ORDRE_7' size='30' $readonly></td>
			  <td>$USER_PRIVILEGE_7</td>
        </tr>
    </table>    