<script language='javascript' type='text/javascript'>
<!--
function Alert_Supp(checkbox){
var chaine_eval ='document.form1.'+checkbox+'.checked == true';
if (eval(chaine_eval)){
alert ('Warning! This will suppress the entire line');
}
}
//-->
</script>
<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<FORM ACTION='questionnaire.php' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'><CAPTION><B></B></CAPTION>
	 <script language='javascript' type='text/javascript'>
	 <!--
		 function Calcul_Total_Ligne_grp_eff(champ_op,ligne){
			 var tab_champ_op 	 = new Array();
			 var chaine_eval;
			 var total = 0;
			 for(j=0; j<=-1; j++){
					if(tab_champ_op[j]){
					 chaine_eval='total+=tab_champ_op[j];';
					 eval(chaine_eval);
					}
			 }
			 chaine_eval='document.form1.TOTAL_'+champ_op+'_'+ligne+'.value='+total+';';
			 eval(chaine_eval);
		 }
	 -->
	 </script>
	<TR>
		<TD COLSPAN='2' class='ligne-impaire'><img src='client-side/image/b_drop.png' width='16' height='16'></TD>		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='1' NAME=DELETE_0 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='1001' NAME=DELETE_1 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='2001' NAME=DELETE_2 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='3001' NAME=DELETE_3 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='4001' NAME=DELETE_4 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='5001' NAME=DELETE_5 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='6001' NAME=DELETE_6 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='7001' NAME=DELETE_7 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=4 class='ligne-impaire'><INPUT tabindex='8001' NAME=DELETE_8 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
	</TR>
	<TR>
		<TD COLSPAN='38' class='ligne-paire'></TD>
	</TR>
	<TR CLASS='ligne-impaire'>
		<TD COLSPAN='2' class='ligne-paire' nowrap></TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_0</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_1</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_2</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_3</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_4</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_5</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_6</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_7</TD>
		<TD COLSPAN=4 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_8</TD>
	</TR>
	<TR>
		<TD COLSPAN='38' class='ligne-impaire'></TD>
	</TR>
	<TR>
		<TD rowspan='0'  class='ligne-impaire'></TD>
	<TR>
		<TD COLSPAN='38' class='ligne-paire'></TD>
	</TR>
	<TR>
		<TD COLSPAN='2' class='ligne-paire' nowrap></TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='2' name='NUMERO_LOCAL_0' type='text' size = 2
																		 value="$NUMERO_LOCAL_0" readonly> <input tabindex='2' type='button' onClick=recherche_local('NUMERO_LOCAL_0',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='1002' name='NUMERO_LOCAL_1' type='text' size = 2
																		 value="$NUMERO_LOCAL_1" readonly> <input tabindex='1002' type='button' onClick=recherche_local('NUMERO_LOCAL_1',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='2002' name='NUMERO_LOCAL_2' type='text' size = 2
																		 value="$NUMERO_LOCAL_2" readonly> <input tabindex='2002' type='button' onClick=recherche_local('NUMERO_LOCAL_2',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='3002' name='NUMERO_LOCAL_3' type='text' size = 2
																		 value="$NUMERO_LOCAL_3" readonly> <input tabindex='3002' type='button' onClick=recherche_local('NUMERO_LOCAL_3',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='4002' name='NUMERO_LOCAL_4' type='text' size = 2
																		 value="$NUMERO_LOCAL_4" readonly> <input tabindex='4002' type='button' onClick=recherche_local('NUMERO_LOCAL_4',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='5002' name='NUMERO_LOCAL_5' type='text' size = 2
																		 value="$NUMERO_LOCAL_5" readonly> <input tabindex='5002' type='button' onClick=recherche_local('NUMERO_LOCAL_5',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='6002' name='NUMERO_LOCAL_6' type='text' size = 2
																		 value="$NUMERO_LOCAL_6" readonly> <input tabindex='6002' type='button' onClick=recherche_local('NUMERO_LOCAL_6',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='7002' name='NUMERO_LOCAL_7' type='text' size = 2
																		 value="$NUMERO_LOCAL_7" readonly> <input tabindex='7002' type='button' onClick=recherche_local('NUMERO_LOCAL_7',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-paire'><INPUT tabindex='8002' name='NUMERO_LOCAL_8' type='text' size = 2
																		 value="$NUMERO_LOCAL_8" readonly> <input tabindex='8002' type='button' onClick=recherche_local('NUMERO_LOCAL_8',$code_etablissement,$code_annee); value='...'>		</TD>
	</TR>
	<TR>
		<TD COLSPAN='38' class='ligne-impaire'></TD>
	</TR>
	<TR>
		<TD COLSPAN='2' class='ligne-impaire' nowrap></TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_0'name='IDENTIFIANT_ENSEIGNANT_0' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_0' ><INPUT  tabindex='3' name='NUMERO_ORDRE_ENSEIGNANT_0' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_0" readonly> <input tabindex='3' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_0','NUMERO_ORDRE_ENSEIGNANT_0',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_1'name='IDENTIFIANT_ENSEIGNANT_1' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_1' ><INPUT  tabindex='1003' name='NUMERO_ORDRE_ENSEIGNANT_1' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_1" readonly> <input tabindex='1003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_1','NUMERO_ORDRE_ENSEIGNANT_1',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_2'name='IDENTIFIANT_ENSEIGNANT_2' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_2' ><INPUT  tabindex='2003' name='NUMERO_ORDRE_ENSEIGNANT_2' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_2" readonly> <input tabindex='2003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_2','NUMERO_ORDRE_ENSEIGNANT_2',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_3'name='IDENTIFIANT_ENSEIGNANT_3' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_3' ><INPUT  tabindex='3003' name='NUMERO_ORDRE_ENSEIGNANT_3' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_3" readonly> <input tabindex='3003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_3','NUMERO_ORDRE_ENSEIGNANT_3',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_4'name='IDENTIFIANT_ENSEIGNANT_4' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_4' ><INPUT  tabindex='4003' name='NUMERO_ORDRE_ENSEIGNANT_4' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_4" readonly> <input tabindex='4003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_4','NUMERO_ORDRE_ENSEIGNANT_4',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_5'name='IDENTIFIANT_ENSEIGNANT_5' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_5' ><INPUT  tabindex='5003' name='NUMERO_ORDRE_ENSEIGNANT_5' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_5" readonly> <input tabindex='5003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_5','NUMERO_ORDRE_ENSEIGNANT_5',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_6'name='IDENTIFIANT_ENSEIGNANT_6' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_6' ><INPUT  tabindex='6003' name='NUMERO_ORDRE_ENSEIGNANT_6' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_6" readonly> <input tabindex='6003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_6','NUMERO_ORDRE_ENSEIGNANT_6',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_7'name='IDENTIFIANT_ENSEIGNANT_7' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_7' ><INPUT  tabindex='7003' name='NUMERO_ORDRE_ENSEIGNANT_7' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_7" readonly> <input tabindex='7003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_7','NUMERO_ORDRE_ENSEIGNANT_7',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=4 nowrap class='ligne-impaire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_8'name='IDENTIFIANT_ENSEIGNANT_8' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_8' ><INPUT  tabindex='8003' name='NUMERO_ORDRE_ENSEIGNANT_8' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_8" readonly> <input tabindex='8003' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_8','NUMERO_ORDRE_ENSEIGNANT_8',$code_etablissement,$code_annee); value='...'>		</TD>
	</TR>
	<TR>
		<TD COLSPAN='38' class='ligne-paire'></TD>
	</TR>
	<TR class='ligne-impaire' nowrap>
		<TD COLSPAN='2' class='ligne-paire'> <b></b></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
		<TD  colspan='2' class='ligne-paire' nowrap></TD>
	</TR>
	<TR>
		<TD COLSPAN='38' class='ligne-paire'></TD>
	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
<!--
document.form1.elements[0].focus();
//-->
</script>
