<script language='javascript' type='text/javascript'>
<!--
function Alert_Supp(checkbox){
var chaine_eval ='document.form1.'+checkbox+'.checked == true';
if (eval(chaine_eval)){
alert ('Warning! This will suppress the entire line');
}
}
//-->
</script>
<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<FORM ACTION='questionnaire.php' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'><CAPTION><B></B></CAPTION>
	<TR>
		<TD COLSPAN='2' class='ligne-impaire'><img src='client-side/image/b_drop.png' width='16' height='16'></TD>		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='1' NAME=DELETE_0 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='1001' NAME=DELETE_1 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='2001' NAME=DELETE_2 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='3001' NAME=DELETE_3 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='4001' NAME=DELETE_4 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='5001' NAME=DELETE_5 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='6001' NAME=DELETE_6 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
		<TD COLSPAN=2 class='ligne-impaire'><INPUT tabindex='7001' NAME=DELETE_7 TYPE='checkbox' VALUE=1 onClick=Alert_Supp(this.name);></TD>		<TD ROWSPAN='100' style='width: 1px; padding: 1px;'></TD>
	</TR>
	<TR>
		<TD COLSPAN='18' class='ligne-paire'></TD>
	</TR>
	<TR CLASS='ligne-impaire'>
		<TD COLSPAN='2' class='ligne-paire' nowrap></TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_0</TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_1</TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_2</TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_3</TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_4</TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_5</TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_6</TD>
		<TD COLSPAN=2 class='ligne-paire'>$NUMERO_ORDRE_GROUPE_7</TD>
	</TR>
	<TR>
		<TD COLSPAN='18' class='ligne-paire'></TD>
	</TR>
	<TR>
		<TD COLSPAN='2' class='ligne-paire' nowrap></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='2'  ID='CODE_TYPE_NIVEAU_0' NAME='CODE_TYPE_NIVEAU_0'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='1002'  ID='CODE_TYPE_NIVEAU_1' NAME='CODE_TYPE_NIVEAU_1'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='2002'  ID='CODE_TYPE_NIVEAU_2' NAME='CODE_TYPE_NIVEAU_2'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='3002'  ID='CODE_TYPE_NIVEAU_3' NAME='CODE_TYPE_NIVEAU_3'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='4002'  ID='CODE_TYPE_NIVEAU_4' NAME='CODE_TYPE_NIVEAU_4'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='5002'  ID='CODE_TYPE_NIVEAU_5' NAME='CODE_TYPE_NIVEAU_5'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='6002'  ID='CODE_TYPE_NIVEAU_6' NAME='CODE_TYPE_NIVEAU_6'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
		<TD COLSPAN=2 class='ligne-paire'><SELECT  tabindex='7002'  ID='CODE_TYPE_NIVEAU_7' NAME='CODE_TYPE_NIVEAU_7'>
			<OPTION VALUE=''>---</OPTION>
		</SELECT></TD>
	</TR>
	<TR>
		<TD COLSPAN='18' class='ligne-impaire'></TD>
	</TR>
	<TR>
		<TD COLSPAN='2' class='ligne-impaire' nowrap></TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='3' name='NUMERO_LOCAL_0' type='text' size = 2
																		 value="$NUMERO_LOCAL_0" readonly> <input tabindex='3' type='button' onClick=recherche_local('NUMERO_LOCAL_0',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='1003' name='NUMERO_LOCAL_1' type='text' size = 2
																		 value="$NUMERO_LOCAL_1" readonly> <input tabindex='1003' type='button' onClick=recherche_local('NUMERO_LOCAL_1',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='2003' name='NUMERO_LOCAL_2' type='text' size = 2
																		 value="$NUMERO_LOCAL_2" readonly> <input tabindex='2003' type='button' onClick=recherche_local('NUMERO_LOCAL_2',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='3003' name='NUMERO_LOCAL_3' type='text' size = 2
																		 value="$NUMERO_LOCAL_3" readonly> <input tabindex='3003' type='button' onClick=recherche_local('NUMERO_LOCAL_3',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='4003' name='NUMERO_LOCAL_4' type='text' size = 2
																		 value="$NUMERO_LOCAL_4" readonly> <input tabindex='4003' type='button' onClick=recherche_local('NUMERO_LOCAL_4',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='5003' name='NUMERO_LOCAL_5' type='text' size = 2
																		 value="$NUMERO_LOCAL_5" readonly> <input tabindex='5003' type='button' onClick=recherche_local('NUMERO_LOCAL_5',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='6003' name='NUMERO_LOCAL_6' type='text' size = 2
																		 value="$NUMERO_LOCAL_6" readonly> <input tabindex='6003' type='button' onClick=recherche_local('NUMERO_LOCAL_6',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-impaire'><INPUT tabindex='7003' name='NUMERO_LOCAL_7' type='text' size = 2
																		 value="$NUMERO_LOCAL_7" readonly> <input tabindex='7003' type='button' onClick=recherche_local('NUMERO_LOCAL_7',$code_etablissement,$code_annee); value='...'>		</TD>
	</TR>
	<TR>
		<TD COLSPAN='18' class='ligne-paire'></TD>
	</TR>
	<TR>
		<TD COLSPAN='2' class='ligne-paire' nowrap></TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_0'name='IDENTIFIANT_ENSEIGNANT_0' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_0' ><INPUT  tabindex='4' name='NUMERO_ORDRE_ENSEIGNANT_0' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_0" readonly> <input tabindex='4' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_0','NUMERO_ORDRE_ENSEIGNANT_0',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_1'name='IDENTIFIANT_ENSEIGNANT_1' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_1' ><INPUT  tabindex='1004' name='NUMERO_ORDRE_ENSEIGNANT_1' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_1" readonly> <input tabindex='1004' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_1','NUMERO_ORDRE_ENSEIGNANT_1',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_2'name='IDENTIFIANT_ENSEIGNANT_2' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_2' ><INPUT  tabindex='2004' name='NUMERO_ORDRE_ENSEIGNANT_2' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_2" readonly> <input tabindex='2004' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_2','NUMERO_ORDRE_ENSEIGNANT_2',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_3'name='IDENTIFIANT_ENSEIGNANT_3' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_3' ><INPUT  tabindex='3004' name='NUMERO_ORDRE_ENSEIGNANT_3' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_3" readonly> <input tabindex='3004' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_3','NUMERO_ORDRE_ENSEIGNANT_3',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_4'name='IDENTIFIANT_ENSEIGNANT_4' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_4' ><INPUT  tabindex='4004' name='NUMERO_ORDRE_ENSEIGNANT_4' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_4" readonly> <input tabindex='4004' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_4','NUMERO_ORDRE_ENSEIGNANT_4',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_5'name='IDENTIFIANT_ENSEIGNANT_5' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_5' ><INPUT  tabindex='5004' name='NUMERO_ORDRE_ENSEIGNANT_5' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_5" readonly> <input tabindex='5004' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_5','NUMERO_ORDRE_ENSEIGNANT_5',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_6'name='IDENTIFIANT_ENSEIGNANT_6' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_6' ><INPUT  tabindex='6004' name='NUMERO_ORDRE_ENSEIGNANT_6' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_6" readonly> <input tabindex='6004' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_6','NUMERO_ORDRE_ENSEIGNANT_6',$code_etablissement,$code_annee); value='...'>		</TD>
		<TD COLSPAN=2 nowrap class='ligne-paire'><INPUT  ID='IDENTIFIANT_ENSEIGNANT_7'name='IDENTIFIANT_ENSEIGNANT_7' type='hidden' value='$IDENTIFIANT_ENSEIGNANT_7' ><INPUT  tabindex='7004' name='NUMERO_ORDRE_ENSEIGNANT_7' type='text' size = 2
																			value="$NUMERO_ORDRE_ENSEIGNANT_7" readonly> <input tabindex='7004' type='button' onClick=recherche_ens('IDENTIFIANT_ENSEIGNANT_7','NUMERO_ORDRE_ENSEIGNANT_7',$code_etablissement,$code_annee); value='...'>		</TD>
	</TR>
	<TR>
		<TD COLSPAN='18' class='ligne-impaire'></TD>
	</TR>
	<TR>
		<TD rowspan='0'  class='ligne-impaire'></TD>
<script language='javascript' type='text/javascript'>
var expression_70012 	= "" ;
var affiche_sous_totaux_70012 	= 0;
var tab_mes_70012 	= new Array ("NOMBRE_GARCONS_AGE","NOMBRE_FILLES_AGE");
var tab_ligne_70012	= new Array ("0","1","2","3","4","5","6","7");
var tab_col_70012	= new Array ("27");

</script>
	<TR>
		<TD COLSPAN='18' class='ligne-paire'></TD>
	</TR>
	<TR class='ligne-impaire' nowrap>
		<TD COLSPAN='2' class='ligne-paire'> <b></b></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
		<TD colspan='1' class='ligne-paire' nowrap></TD>
	</TR>
	<TR>
		<TD COLSPAN='18' class='ligne-paire'></TD>
	</TR>
	<TR>
		<TD COLSPAN='2' nowrap class='ligne-impaire'>(#)Plus de 9 ans</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_0_27' NAME='NOMBRE_GARCONS_AGE_0_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_0_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 0, 27, tab_mes_70012);"  tabindex='4'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_0_27' NAME='NOMBRE_FILLES_AGE_0_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_0_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 0, 27, tab_mes_70012);"  tabindex='5'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_1_27' NAME='NOMBRE_GARCONS_AGE_1_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_1_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 1, 27, tab_mes_70012);"  tabindex='1004'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_1_27' NAME='NOMBRE_FILLES_AGE_1_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_1_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 1, 27, tab_mes_70012);"  tabindex='1005'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_2_27' NAME='NOMBRE_GARCONS_AGE_2_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_2_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 2, 27, tab_mes_70012);"  tabindex='2004'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_2_27' NAME='NOMBRE_FILLES_AGE_2_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_2_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 2, 27, tab_mes_70012);"  tabindex='2005'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_3_27' NAME='NOMBRE_GARCONS_AGE_3_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_3_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 3, 27, tab_mes_70012);"  tabindex='3004'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_3_27' NAME='NOMBRE_FILLES_AGE_3_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_3_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 3, 27, tab_mes_70012);"  tabindex='3005'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_4_27' NAME='NOMBRE_GARCONS_AGE_4_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_4_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 4, 27, tab_mes_70012);"  tabindex='4004'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_4_27' NAME='NOMBRE_FILLES_AGE_4_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_4_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 4, 27, tab_mes_70012);"  tabindex='4005'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_5_27' NAME='NOMBRE_GARCONS_AGE_5_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_5_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 5, 27, tab_mes_70012);"  tabindex='5004'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_5_27' NAME='NOMBRE_FILLES_AGE_5_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_5_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 5, 27, tab_mes_70012);"  tabindex='5005'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_6_27' NAME='NOMBRE_GARCONS_AGE_6_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_6_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 6, 27, tab_mes_70012);"  tabindex='6004'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_6_27' NAME='NOMBRE_FILLES_AGE_6_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_6_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 6, 27, tab_mes_70012);"  tabindex='6005'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_GARCONS_AGE_7_27' NAME='NOMBRE_GARCONS_AGE_7_27' TYPE='text' size = 1 VALUE="$NOMBRE_GARCONS_AGE_7_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_GARCONS_AGE', tab_ligne_70012, tab_col_70012, 7, 27, tab_mes_70012);"  tabindex='7004'>
</TD>
		<TD  colspan='1' nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NOMBRE_FILLES_AGE_7_27' NAME='NOMBRE_FILLES_AGE_7_27' TYPE='text' size = 1 VALUE="$NOMBRE_FILLES_AGE_7_27"  onchange="set_TOTAL_MatFrml_Champ('form1', 70012, '', 'NOMBRE_FILLES_AGE', tab_ligne_70012, tab_col_70012, 7, 27, tab_mes_70012);"  tabindex='7005'>
</TD>
	</TR>
	<TR>
		<TD COLSPAN='18' class='ligne-titre'></TD>
	</TR>
	<TR  style='background-color:#CCCCCC; font-weight:bold;'>
		<TD align='center' COLSPAN='2' nowrap rowspan='2' style='background-color:#CCCCCC; font-weight:bold;'><b><br></b></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_0' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_0' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_1' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_1' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_2' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_2' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_3' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_3' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_4' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_4' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_5' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_5' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_6' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_6' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_GARCONS_AGE_LIGNE_7' size = 1></TD>
		<TD  colspan='1'  align='center' bgcolor='#CCCCCC'>  
																<INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold;'
																 NAME='TOT_70012_NOMBRE_FILLES_AGE_LIGNE_7' size = 1></TD>
	</TR>

	<TR>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_0' size = 1></TD>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_1' size = 1></TD>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_2' size = 1></TD>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_3' size = 1></TD>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_4' size = 1></TD>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_5' size = 1></TD>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_6' size = 1></TD>
		<TD align='center' COLSPAN=2 bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' 
															NAME='TOT_70012_ALL_MES_LIGNE_7' size = 1></TD>

	</TR>
<script language='javascript' type='text/javascript'>
var expression_70006 	= "" ;
var affiche_sous_totaux_70006 	= 0;
var tab_mes_70006 	= new Array ("REDOUBLANTS_GARCONS","REDOUBLANTS_FILLES");
var tab_col_70006	= new Array ("0","1","2","3","4","5","6","7");
var tab_ligne_70006	= new Array ();

</script>
	<TR>
		<TD COLSPAN='18' class='ligne-impaire'></TD>
	</TR>
	<TR>
		<TD COLSPAN='2' nowrap class='ligne-impaire'></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='7'  ID='REDOUBLANTS_GARCONS_0' NAME='REDOUBLANTS_GARCONS_0' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_0"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='8'  ID='REDOUBLANTS_FILLES_0' NAME='REDOUBLANTS_FILLES_0' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_0"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='1007'  ID='REDOUBLANTS_GARCONS_1' NAME='REDOUBLANTS_GARCONS_1' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_1"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='1008'  ID='REDOUBLANTS_FILLES_1' NAME='REDOUBLANTS_FILLES_1' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_1"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='2007'  ID='REDOUBLANTS_GARCONS_2' NAME='REDOUBLANTS_GARCONS_2' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_2"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='2008'  ID='REDOUBLANTS_FILLES_2' NAME='REDOUBLANTS_FILLES_2' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_2"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='3007'  ID='REDOUBLANTS_GARCONS_3' NAME='REDOUBLANTS_GARCONS_3' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_3"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='3008'  ID='REDOUBLANTS_FILLES_3' NAME='REDOUBLANTS_FILLES_3' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_3"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='4007'  ID='REDOUBLANTS_GARCONS_4' NAME='REDOUBLANTS_GARCONS_4' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_4"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='4008'  ID='REDOUBLANTS_FILLES_4' NAME='REDOUBLANTS_FILLES_4' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_4"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='5007'  ID='REDOUBLANTS_GARCONS_5' NAME='REDOUBLANTS_GARCONS_5' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_5"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='5008'  ID='REDOUBLANTS_FILLES_5' NAME='REDOUBLANTS_FILLES_5' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_5"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='6007'  ID='REDOUBLANTS_GARCONS_6' NAME='REDOUBLANTS_GARCONS_6' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_6"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='6008'  ID='REDOUBLANTS_FILLES_6' NAME='REDOUBLANTS_FILLES_6' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_6"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='7007'  ID='REDOUBLANTS_GARCONS_7' NAME='REDOUBLANTS_GARCONS_7' TYPE='text'  VALUE="$REDOUBLANTS_GARCONS_7"size = 2 ></TD>
		<TD colspan='1' class='ligne-impaire' nowrap><INPUT tabindex='7008'  ID='REDOUBLANTS_FILLES_7' NAME='REDOUBLANTS_FILLES_7' TYPE='text'  VALUE="$REDOUBLANTS_FILLES_7"size = 2 ></TD>
	</TR>
<script language='javascript' type='text/javascript'>
var expression_70007 	= "" ;
var affiche_sous_totaux_70007 	= 0;
var tab_mes_70007 	= new Array ("REDOUBLANTS_GARCONS","REDOUBLANTS_FILLES");
var tab_col_70007	= new Array ("0","1","2","3","4","5","6","7");
var tab_ligne_70007	= new Array ();

</script>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
<!--
document.form1.elements[0].focus();
 set_TOTAL_MatFrml('form1',70012, '', tab_mes_70012, tab_ligne_70012, tab_col_70012);
//-->
</script>
