<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<FORM ACTION='questionnaire.php?theme_frame=2101' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B>(#)Nouveau</B></CAPTION>	 <script language='javascript' type='text/javascript'>
	 <!--
		 function Calcul_Total(mesure){
			 var tab_champ_op = new Array();
			 var chaine_eval;
			 var total = 0;
			 chaine_eval = 'tab_champ_op[0] = parseInt(document.form1.'+mesure+'_0.value);';
			 eval(chaine_eval);
			 chaine_eval = 'tab_champ_op[1] = parseInt(document.form1.'+mesure+'_1.value);';
			 eval(chaine_eval);
			 chaine_eval = 'tab_champ_op[2] = parseInt(document.form1.'+mesure+'_2.value);';
			 eval(chaine_eval);
			 chaine_eval = 'tab_champ_op[3] = parseInt(document.form1.'+mesure+'_3.value);';
			 eval(chaine_eval);
			 for(j=0; j<=3; j++){
					if(tab_champ_op[j]){
					 chaine_eval='total+=tab_champ_op[j];';
					 eval(chaine_eval);
					}
			 }
			 chaine_eval='document.form1.TOTAL_'+mesure+'.value='+total+';';
			 eval(chaine_eval);
		 }
	 -->
	 </script>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>(#)Garderie</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_PRESCO_0' NAME='NOMBRE_GARCONS_PRESCO_0' VALUE='$NOMBRE_GARCONS_PRESCO_0' size = 2 onBlur=Calcul_Total('NOMBRE_GARCONS_PRESCO'); ></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_PRESCO_0' NAME='NOMBRE_FILLES_PRESCO_0' VALUE='$NOMBRE_FILLES_PRESCO_0' size = 2 onBlur=Calcul_Total('NOMBRE_FILLES_PRESCO'); ></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>(#)Jardin d'enfants</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_PRESCO_1' NAME='NOMBRE_GARCONS_PRESCO_1' VALUE='$NOMBRE_GARCONS_PRESCO_1' size = 2 onBlur=Calcul_Total('NOMBRE_GARCONS_PRESCO'); ></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_PRESCO_1' NAME='NOMBRE_FILLES_PRESCO_1' VALUE='$NOMBRE_FILLES_PRESCO_1' size = 2 onBlur=Calcul_Total('NOMBRE_FILLES_PRESCO'); ></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>(#)Ecole coranique</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_PRESCO_2' NAME='NOMBRE_GARCONS_PRESCO_2' VALUE='$NOMBRE_GARCONS_PRESCO_2' size = 2 onBlur=Calcul_Total('NOMBRE_GARCONS_PRESCO'); ></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_PRESCO_2' NAME='NOMBRE_FILLES_PRESCO_2' VALUE='$NOMBRE_FILLES_PRESCO_2' size = 2 onBlur=Calcul_Total('NOMBRE_FILLES_PRESCO'); ></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>(#)Aucun enseignement</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_PRESCO_3' NAME='NOMBRE_GARCONS_PRESCO_3' VALUE='$NOMBRE_GARCONS_PRESCO_3' size = 2 onBlur=Calcul_Total('NOMBRE_GARCONS_PRESCO'); ></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_PRESCO_3' NAME='NOMBRE_FILLES_PRESCO_3' VALUE='$NOMBRE_FILLES_PRESCO_3' size = 2 onBlur=Calcul_Total('NOMBRE_FILLES_PRESCO'); ></TD>
	</TR>

	<TR>
		<TD class='ligne-paire'>TOTAL:</TD>
		<TD class='ligne-paire'> <INPUT TYPE='text' NAME='TOTAL_NOMBRE_GARCONS_PRESCO' VALUE='' size = 2></TD>
		<TD class='ligne-paire'> <INPUT TYPE= 'text' NAME='TOTAL_NOMBRE_FILLES_PRESCO' VALUE='' size = 2></TD>
	</TR>
	 <script language='javascript' type='text/javascript'>
	 <!--
	 Calcul_Total('NOMBRE_GARCONS_PRESCO');
	 Calcul_Total('NOMBRE_FILLES_PRESCO');
	 -->
	 </script>

</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< SAVE & Go Previous Screen&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;SAVE&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;SAVE & Go Next Screen >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
