<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<FORM ACTION='questionnaire.php?theme_frame=3602' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B>(#)Nouveau</B></CAPTION>
	<TR>
		<TD   CLASS='ligne-titre'>&nbsp</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>(#)Candidats</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>(#)Admis</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire'>(#)BEPC</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_0_0' NAME='GARCONS_EXAMEN_0_0' VALUE='$GARCONS_EXAMEN_0_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_0_0' NAME='FILLES_EXAMEN_0_0' VALUE='$FILLES_EXAMEN_0_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_0_1' NAME='GARCONS_EXAMEN_0_1' VALUE='$GARCONS_EXAMEN_0_1' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_0_1' NAME='FILLES_EXAMEN_0_1' VALUE='$FILLES_EXAMEN_0_1' size = 5>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire'>(#)BAC - STrie A Lettres Modernes</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_1_0' NAME='GARCONS_EXAMEN_1_0' VALUE='$GARCONS_EXAMEN_1_0' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_1_0' NAME='FILLES_EXAMEN_1_0' VALUE='$FILLES_EXAMEN_1_0' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_1_1' NAME='GARCONS_EXAMEN_1_1' VALUE='$GARCONS_EXAMEN_1_1' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_1_1' NAME='FILLES_EXAMEN_1_1' VALUE='$FILLES_EXAMEN_1_1' size = 5>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire'>(#)BAC - STrie C MathFmatiques</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_2_0' NAME='GARCONS_EXAMEN_2_0' VALUE='$GARCONS_EXAMEN_2_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_2_0' NAME='FILLES_EXAMEN_2_0' VALUE='$FILLES_EXAMEN_2_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_2_1' NAME='GARCONS_EXAMEN_2_1' VALUE='$GARCONS_EXAMEN_2_1' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_2_1' NAME='FILLES_EXAMEN_2_1' VALUE='$FILLES_EXAMEN_2_1' size = 5>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire'>(#)BAC - STrie D Sciences</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_3_0' NAME='GARCONS_EXAMEN_3_0' VALUE='$GARCONS_EXAMEN_3_0' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_3_0' NAME='FILLES_EXAMEN_3_0' VALUE='$FILLES_EXAMEN_3_0' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_3_1' NAME='GARCONS_EXAMEN_3_1' VALUE='$GARCONS_EXAMEN_3_1' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_3_1' NAME='FILLES_EXAMEN_3_1' VALUE='$FILLES_EXAMEN_3_1' size = 5>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire'>(#)BAC - STrie O Lettres Origielles</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_4_0' NAME='GARCONS_EXAMEN_4_0' VALUE='$GARCONS_EXAMEN_4_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_4_0' NAME='FILLES_EXAMEN_4_0' VALUE='$FILLES_EXAMEN_4_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_4_1' NAME='GARCONS_EXAMEN_4_1' VALUE='$GARCONS_EXAMEN_4_1' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_4_1' NAME='FILLES_EXAMEN_4_1' VALUE='$FILLES_EXAMEN_4_1' size = 5>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire'>(#)ENI - CAEM</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_5_0' NAME='GARCONS_EXAMEN_5_0' VALUE='$GARCONS_EXAMEN_5_0' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_5_0' NAME='FILLES_EXAMEN_5_0' VALUE='$FILLES_EXAMEN_5_0' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_5_1' NAME='GARCONS_EXAMEN_5_1' VALUE='$GARCONS_EXAMEN_5_1' size = 5>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_5_1' NAME='FILLES_EXAMEN_5_1' VALUE='$FILLES_EXAMEN_5_1' size = 5>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire'>(#)ENI - CAP</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_6_0' NAME='GARCONS_EXAMEN_6_0' VALUE='$GARCONS_EXAMEN_6_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_6_0' NAME='FILLES_EXAMEN_6_0' VALUE='$FILLES_EXAMEN_6_0' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='GARCONS_EXAMEN_6_1' NAME='GARCONS_EXAMEN_6_1' VALUE='$GARCONS_EXAMEN_6_1' size = 5>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='FILLES_EXAMEN_6_1' NAME='FILLES_EXAMEN_6_1' VALUE='$FILLES_EXAMEN_6_1' size = 5>
</TD>

	</TR>

</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< SAVE & Go Previous Screen&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;SAVE&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;SAVE & Go Next Screen >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
