<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<FORM ACTION='questionnaire.php?theme_frame=2702' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B>(#)Nouveau</B></CAPTION>
	<TR>
		<TD CLASS='ligne-paire'  align='center'>(#)Moins 12 ans</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_0' NAME='NOMBRE_GARCONS_0' VALUE='$NOMBRE_GARCONS_0' size = 2></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_0' NAME='NOMBRE_FILLES_0' VALUE='$NOMBRE_FILLES_0' size = 2></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>(#)12 ans</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_1' NAME='NOMBRE_GARCONS_1' VALUE='$NOMBRE_GARCONS_1' size = 2></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_1' NAME='NOMBRE_FILLES_1' VALUE='$NOMBRE_FILLES_1' size = 2></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>(#)13 ans</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_2' NAME='NOMBRE_GARCONS_2' VALUE='$NOMBRE_GARCONS_2' size = 2></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_2' NAME='NOMBRE_FILLES_2' VALUE='$NOMBRE_FILLES_2' size = 2></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>(#)14 ans</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_3' NAME='NOMBRE_GARCONS_3' VALUE='$NOMBRE_GARCONS_3' size = 2></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_3' NAME='NOMBRE_FILLES_3' VALUE='$NOMBRE_FILLES_3' size = 2></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>(#)15 ans</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_4' NAME='NOMBRE_GARCONS_4' VALUE='$NOMBRE_GARCONS_4' size = 2></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_4' NAME='NOMBRE_FILLES_4' VALUE='$NOMBRE_FILLES_4' size = 2></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>(#)Plus de 15 ans</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_GARCONS_5' NAME='NOMBRE_GARCONS_5' VALUE='$NOMBRE_GARCONS_5' size = 2></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='NOMBRE_FILLES_5' NAME='NOMBRE_FILLES_5' VALUE='$NOMBRE_FILLES_5' size = 2></TD>
	</TR>

</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< SAVE & Go Previous Screen&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;SAVE&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;SAVE & Go Next Screen >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
