<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<script language='javascript' type='text/javascript'>
var tab_mes 	= new Array ("NOMBRE_GARCONS", "NOMBRE_FILLES");
var expression 	= "";
var tot_tab_mes = new Array();
var tot_tab_col = new Array();
var tab_mes_expr 	= new Array ("", "");
var tab_ligne	= new Array ("0");
var tab_col	= new Array ();
</script>
<FORM ACTION='questionnaire.php?theme_frame=1702' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B></B></CAPTION>
	<TR>
		<TD   CLASS='ligne-titre'>&nbsp</TD>
		<TD  CLASS='ligne-titre' align='center'  COLSPAN=3 ></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire'>(#)Plus de 9 ans</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_NOMBRE_GARCONS_LIGNE_0' size = 5></TD>
<script language='javascript' type='text/javascript'>
tot_tab_mes[0]	= new Array();
tot_tab_mes[0][0] 	= "TOT_NOMBRE_GARCONS_LIGNE_0";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_NOMBRE_FILLES_LIGNE_0' size = 5></TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_ALL_MES_LIGNE_0' size = 5></TD>
<script language='javascript' type='text/javascript'>
tot_tab_mes[0][1] 	= "TOT_NOMBRE_FILLES_LIGNE_0";
</script>

	</TR>

	<TR>

	<TD align='center' rowspan='2' bgcolor='#CCCCCC'><br></TD>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_NOMBRE_GARCONS_COLONNE' size = 5></TD>
<script language='javascript' type='text/javascript'>
tot_tab_col[0]	= "TOT_NOMBRE_GARCONS_COLONNE";
</script>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_NOMBRE_FILLES_COLONNE' size = 5></TD>
<script language='javascript' type='text/javascript'>
tot_tab_col[1]	= "TOT_NOMBRE_FILLES_COLONNE";
</script>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_ALL_MES' size = 5></TD>

	</TR>

	<TR>

	</TR>

</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
 set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col)
</script>
