<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<FORM ACTION='questionnaire.php?theme_frame=4303' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B>(#)Nouveau</B></CAPTION>
	<TR>
		<TD COLSPAN=2   CLASS='ligne-titre' >(#)Inscrits</TD>

		<TD COLSPAN=2   CLASS='ligne-paire' >(#)Presents</TD>

		<TD COLSPAN=2   CLASS='ligne-titre' >(#)Admis</TD>

	</TR>
	<TR>		<TD CLASS='ligne-paire'><INPUT TYPE=text  ID='NOMBRE_GARCONS_0' NAME='NOMBRE_GARCONS_0' VALUE='$NOMBRE_GARCONS_0' size=5></TD>
		<TD CLASS='ligne-paire'><INPUT TYPE='text'  ID='NOMBRE_FILLES_0' NAME='NOMBRE_FILLES_0' VALUE='$NOMBRE_FILLES_0' size=5></TD>
		<TD CLASS='ligne-paire'><INPUT TYPE=text  ID='NOMBRE_GARCONS_1' NAME='NOMBRE_GARCONS_1' VALUE='$NOMBRE_GARCONS_1' size=5></TD>
		<TD CLASS='ligne-paire'><INPUT TYPE='text'  ID='NOMBRE_FILLES_1' NAME='NOMBRE_FILLES_1' VALUE='$NOMBRE_FILLES_1' size=5></TD>
		<TD CLASS='ligne-paire'><INPUT TYPE=text  ID='NOMBRE_GARCONS_2' NAME='NOMBRE_GARCONS_2' VALUE='$NOMBRE_GARCONS_2' size=5></TD>
		<TD CLASS='ligne-paire'><INPUT TYPE='text'  ID='NOMBRE_FILLES_2' NAME='NOMBRE_FILLES_2' VALUE='$NOMBRE_FILLES_2' size=5></TD>

	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
