<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<script language='javascript' type='text/javascript'>
var tab_mes 	= new Array ("NOMBRE_TABLE_BANC");
var expression 	= "";
var tot_tab_mes = new Array();
var tot_tab_col = new Array();
var tab_mes_expr 	= new Array ("");
var tab_ligne	= new Array ("0","1","2");
var tab_col	= new Array ("0","1","2");
</script>
<FORM ACTION='questionnaire.php?theme_frame=2302' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B>(#)Nouveau</B></CAPTION>
	<TR>
		<TD   CLASS='ligne-titre'>&nbsp</TD>
		<TD  CLASS='ligne-titre' align='center'>(#) 1 place		</TD>
		<TD  CLASS='ligne-titre' align='center'>(#)2 places</TD>
		<TD  CLASS='ligne-titre' align='center'>(#)4 places</TD>
		<TD  CLASS='ligne-titre' align='center' >TOTAL:</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire'>(#)Bon / acceptable</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_0_0' NAME='NOMBRE_TABLE_BANC_0_0' VALUE='$NOMBRE_TABLE_BANC_0_0'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_0_1' NAME='NOMBRE_TABLE_BANC_0_1' VALUE='$NOMBRE_TABLE_BANC_0_1'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_0_2' NAME='NOMBRE_TABLE_BANC_0_2' VALUE='$NOMBRE_TABLE_BANC_0_2'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_NOMBRE_TABLE_BANC_LIGNE_0' size = 2></TD>
<script language='javascript' type='text/javascript'>
tot_tab_mes[0]	= new Array();
tot_tab_mes[0][0] 	= "TOT_NOMBRE_TABLE_BANC_LIGNE_0";
</script>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire'>(#)Mauvais</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_1_0' NAME='NOMBRE_TABLE_BANC_1_0' VALUE='$NOMBRE_TABLE_BANC_1_0'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_1_1' NAME='NOMBRE_TABLE_BANC_1_1' VALUE='$NOMBRE_TABLE_BANC_1_1'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD CLASS='ligne-impaire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_1_2' NAME='NOMBRE_TABLE_BANC_1_2' VALUE='$NOMBRE_TABLE_BANC_1_2'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_NOMBRE_TABLE_BANC_LIGNE_1' size = 2></TD>
<script language='javascript' type='text/javascript'>
tot_tab_mes[1]	= new Array();
tot_tab_mes[1][0] 	= "TOT_NOMBRE_TABLE_BANC_LIGNE_1";
</script>

	</TR>

	<TR>

		<TD CLASS='ligne-paire'>(#)Reparation urgente</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_2_0' NAME='NOMBRE_TABLE_BANC_2_0' VALUE='$NOMBRE_TABLE_BANC_2_0'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_2_1' NAME='NOMBRE_TABLE_BANC_2_1' VALUE='$NOMBRE_TABLE_BANC_2_1'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD CLASS='ligne-paire'>		<INPUT TYPE= 'text'  ID='NOMBRE_TABLE_BANC_2_2' NAME='NOMBRE_TABLE_BANC_2_2' VALUE='$NOMBRE_TABLE_BANC_2_2'  onchange="set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col);" size = 2>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_NOMBRE_TABLE_BANC_LIGNE_2' size = 2></TD>
<script language='javascript' type='text/javascript'>
tot_tab_mes[2]	= new Array();
tot_tab_mes[2][0] 	= "TOT_NOMBRE_TABLE_BANC_LIGNE_2";
</script>

	</TR>

	<TR>

		<TD align='center' bgcolor='#CCCCCC'>TOTAL:</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_ALL_MES_COLONNE_0' size = 2></TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_ALL_MES_COLONNE_1' size = 2></TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_ALL_MES_COLONNE_2' size = 2></TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; font-weight:bold' NAME='TOT_ALL_MES' size = 2></TD>

	</TR>

</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< SAVE & Go Previous Screen&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;SAVE&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;SAVE & Go Next Screen >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
 set_TOTAL_ThemeMat2D('form1', tab_mes, tab_ligne, tab_col)
</script>
