<BR/><script language="javascript" type="text/javascript">
				var ctrlSaisieLst = new Array();

				var do_submit = true;
				function do_post(form_name){
					/*requiredInputs = $('input[required]:not(:disabled)');
					for(var i= 0; i < requiredInputs.length; i++)
					{
						 var cinput = requiredInputs[i];
						 if(!$(cinput).val()) {
							 return false;
						 }
					}*/
					ctrl_saisie();
					if( do_submit == true ){			eval('document.'+form_name+'.submit();');
					}
				}
				
				$(function() {
					$.each(ctrlSaisieLst, function(idx, ctrlSaisie) {
						if (ctrlSaisie[3] == "si") {
							$("FORM").find('input[id^="'+ctrlSaisie[1]+'"]').click(function(index) {
								desactiver_zone($(this).val(), ctrlSaisie[4].split(";")[0].split(","), ctrlSaisie[4].split(";")[1]);
							});
							$("FORM").find('input[id^="'+ctrlSaisie[1]+'"]').each(function(index) {
								if ($(this).is(":checked")) {
									desactiver_zone($(this).val(), ctrlSaisie[4].split(";")[0].split(","), ctrlSaisie[4].split(";")[1]);
								}
							});
							if($("FORM").find('input[id^="'+ctrlSaisie[1]+'"]:checked').length == 0) {
								desactiver_zone('', ctrlSaisie[4].split(";")[0].split(","), ctrlSaisie[4].split(";")[1]);
							}
						}
					});	
				});
				</script>
<script language='javascript' type='text/javascript'>
var tab_chps = new Array();
</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=12803' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'>
<CAPTION><B>XI. EFFECTIF DES HANDICAPES 1C</B></CAPTION>
	<TR class=''>
		<TD colspan=4 valign='top'>&nbsp;<script language='javascript' type='text/javascript'>
var expression_1280006 	= "";
var tot_mes_ligne_1280006 	= new Array();
var tot_mes_col_1280006 	= new Array();
var affich_vertic_mes_1280006 	= 0;
var affiche_sous_totaux_1280006 	= 0;
var tab_mes_1280006 	= new Array ("NB_G","NB_F");
var tab_ligne_1280006	= new Array ("11","2","3","4","5","6","7","1","12","13","8","9","10");
var tab_col_1280006	= new Array ("7","8","9","10");

</script>
<TABLE class='table-questionnaire' border=1>
	<TR>
		<TD  ROWSPAN=2   CLASS='ligne-titre'>&nbsp</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Sixième</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Ciinquième</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Quatrième</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Troisième</TD>
		<TD  CLASS='ligne-titre' align='center'  COLSPAN=3 >TOTAL</TD>

	</TR>

	<TR>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G + F</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Sourds</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_11_7' NAME='NB_G_0_11_7' TYPE='text' size = 2 VALUE="$NB_G_0_11_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 11, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_11_7' NAME='NB_F_0_11_7' TYPE='text' size = 2 VALUE="$NB_F_0_11_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 11, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_11_8' NAME='NB_G_0_11_8' TYPE='text' size = 2 VALUE="$NB_G_0_11_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 11, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_11_8' NAME='NB_F_0_11_8' TYPE='text' size = 2 VALUE="$NB_F_0_11_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 11, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_11_9' NAME='NB_G_0_11_9' TYPE='text' size = 2 VALUE="$NB_G_0_11_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 11, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_11_9' NAME='NB_F_0_11_9' TYPE='text' size = 2 VALUE="$NB_F_0_11_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 11, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_11_10' NAME='NB_G_0_11_10' TYPE='text' size = 2 VALUE="$NB_G_0_11_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 11, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_11_10' NAME='NB_F_0_11_10' TYPE='text' size = 2 VALUE="$NB_F_0_11_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 11, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[0]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_11'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[0][0]	= "TOT_1280006_NB_G_LIGNE_0_11";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_11'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[0][1]	= "TOT_1280006_NB_F_LIGNE_0_11";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_11' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Mal entendants</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_2_7' NAME='NB_G_0_2_7' TYPE='text' size = 2 VALUE="$NB_G_0_2_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 2, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_2_7' NAME='NB_F_0_2_7' TYPE='text' size = 2 VALUE="$NB_F_0_2_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 2, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_2_8' NAME='NB_G_0_2_8' TYPE='text' size = 2 VALUE="$NB_G_0_2_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 2, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_2_8' NAME='NB_F_0_2_8' TYPE='text' size = 2 VALUE="$NB_F_0_2_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 2, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_2_9' NAME='NB_G_0_2_9' TYPE='text' size = 2 VALUE="$NB_G_0_2_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 2, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_2_9' NAME='NB_F_0_2_9' TYPE='text' size = 2 VALUE="$NB_F_0_2_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 2, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_2_10' NAME='NB_G_0_2_10' TYPE='text' size = 2 VALUE="$NB_G_0_2_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 2, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_2_10' NAME='NB_F_0_2_10' TYPE='text' size = 2 VALUE="$NB_F_0_2_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 2, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[1]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_2'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[1][0]	= "TOT_1280006_NB_G_LIGNE_0_2";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_2'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[1][1]	= "TOT_1280006_NB_F_LIGNE_0_2";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_2' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Mal voyants</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_3_7' NAME='NB_G_0_3_7' TYPE='text' size = 2 VALUE="$NB_G_0_3_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 3, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_3_7' NAME='NB_F_0_3_7' TYPE='text' size = 2 VALUE="$NB_F_0_3_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 3, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_3_8' NAME='NB_G_0_3_8' TYPE='text' size = 2 VALUE="$NB_G_0_3_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 3, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_3_8' NAME='NB_F_0_3_8' TYPE='text' size = 2 VALUE="$NB_F_0_3_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 3, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_3_9' NAME='NB_G_0_3_9' TYPE='text' size = 2 VALUE="$NB_G_0_3_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 3, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_3_9' NAME='NB_F_0_3_9' TYPE='text' size = 2 VALUE="$NB_F_0_3_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 3, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_3_10' NAME='NB_G_0_3_10' TYPE='text' size = 2 VALUE="$NB_G_0_3_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 3, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_3_10' NAME='NB_F_0_3_10' TYPE='text' size = 2 VALUE="$NB_F_0_3_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 3, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[2]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_3'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[2][0]	= "TOT_1280006_NB_G_LIGNE_0_3";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_3'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[2][1]	= "TOT_1280006_NB_F_LIGNE_0_3";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_3' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Aveugles</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_4_7' NAME='NB_G_0_4_7' TYPE='text' size = 2 VALUE="$NB_G_0_4_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 4, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_4_7' NAME='NB_F_0_4_7' TYPE='text' size = 2 VALUE="$NB_F_0_4_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 4, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_4_8' NAME='NB_G_0_4_8' TYPE='text' size = 2 VALUE="$NB_G_0_4_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 4, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_4_8' NAME='NB_F_0_4_8' TYPE='text' size = 2 VALUE="$NB_F_0_4_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 4, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_4_9' NAME='NB_G_0_4_9' TYPE='text' size = 2 VALUE="$NB_G_0_4_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 4, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_4_9' NAME='NB_F_0_4_9' TYPE='text' size = 2 VALUE="$NB_F_0_4_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 4, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_4_10' NAME='NB_G_0_4_10' TYPE='text' size = 2 VALUE="$NB_G_0_4_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 4, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_4_10' NAME='NB_F_0_4_10' TYPE='text' size = 2 VALUE="$NB_F_0_4_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 4, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[3]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_4'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[3][0]	= "TOT_1280006_NB_G_LIGNE_0_4";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_4'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[3][1]	= "TOT_1280006_NB_F_LIGNE_0_4";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_4' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Membres inférieurs</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_5_7' NAME='NB_G_0_5_7' TYPE='text' size = 2 VALUE="$NB_G_0_5_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 5, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_5_7' NAME='NB_F_0_5_7' TYPE='text' size = 2 VALUE="$NB_F_0_5_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 5, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_5_8' NAME='NB_G_0_5_8' TYPE='text' size = 2 VALUE="$NB_G_0_5_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 5, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_5_8' NAME='NB_F_0_5_8' TYPE='text' size = 2 VALUE="$NB_F_0_5_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 5, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_5_9' NAME='NB_G_0_5_9' TYPE='text' size = 2 VALUE="$NB_G_0_5_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 5, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_5_9' NAME='NB_F_0_5_9' TYPE='text' size = 2 VALUE="$NB_F_0_5_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 5, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_5_10' NAME='NB_G_0_5_10' TYPE='text' size = 2 VALUE="$NB_G_0_5_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 5, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_5_10' NAME='NB_F_0_5_10' TYPE='text' size = 2 VALUE="$NB_F_0_5_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 5, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[4]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_5'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[4][0]	= "TOT_1280006_NB_G_LIGNE_0_5";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_5'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[4][1]	= "TOT_1280006_NB_F_LIGNE_0_5";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_5' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Membres supérieurs</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_6_7' NAME='NB_G_0_6_7' TYPE='text' size = 2 VALUE="$NB_G_0_6_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 6, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_6_7' NAME='NB_F_0_6_7' TYPE='text' size = 2 VALUE="$NB_F_0_6_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 6, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_6_8' NAME='NB_G_0_6_8' TYPE='text' size = 2 VALUE="$NB_G_0_6_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 6, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_6_8' NAME='NB_F_0_6_8' TYPE='text' size = 2 VALUE="$NB_F_0_6_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 6, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_6_9' NAME='NB_G_0_6_9' TYPE='text' size = 2 VALUE="$NB_G_0_6_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 6, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_6_9' NAME='NB_F_0_6_9' TYPE='text' size = 2 VALUE="$NB_F_0_6_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 6, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_6_10' NAME='NB_G_0_6_10' TYPE='text' size = 2 VALUE="$NB_G_0_6_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 6, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_6_10' NAME='NB_F_0_6_10' TYPE='text' size = 2 VALUE="$NB_F_0_6_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 6, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[5]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_6'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[5][0]	= "TOT_1280006_NB_G_LIGNE_0_6";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_6'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[5][1]	= "TOT_1280006_NB_F_LIGNE_0_6";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_6' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Membres inférieures et supérieurs</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_7_7' NAME='NB_G_0_7_7' TYPE='text' size = 2 VALUE="$NB_G_0_7_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 7, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_7_7' NAME='NB_F_0_7_7' TYPE='text' size = 2 VALUE="$NB_F_0_7_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 7, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_7_8' NAME='NB_G_0_7_8' TYPE='text' size = 2 VALUE="$NB_G_0_7_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 7, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_7_8' NAME='NB_F_0_7_8' TYPE='text' size = 2 VALUE="$NB_F_0_7_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 7, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_7_9' NAME='NB_G_0_7_9' TYPE='text' size = 2 VALUE="$NB_G_0_7_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 7, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_7_9' NAME='NB_F_0_7_9' TYPE='text' size = 2 VALUE="$NB_F_0_7_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 7, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_7_10' NAME='NB_G_0_7_10' TYPE='text' size = 2 VALUE="$NB_G_0_7_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 7, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_7_10' NAME='NB_F_0_7_10' TYPE='text' size = 2 VALUE="$NB_F_0_7_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 7, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[6]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_7'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[6][0]	= "TOT_1280006_NB_G_LIGNE_0_7";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_7'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[6][1]	= "TOT_1280006_NB_F_LIGNE_0_7";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_7' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Déficience intellectuelle  </TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_1_7' NAME='NB_G_0_1_7' TYPE='text' size = 2 VALUE="$NB_G_0_1_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 1, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_1_7' NAME='NB_F_0_1_7' TYPE='text' size = 2 VALUE="$NB_F_0_1_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 1, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_1_8' NAME='NB_G_0_1_8' TYPE='text' size = 2 VALUE="$NB_G_0_1_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 1, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_1_8' NAME='NB_F_0_1_8' TYPE='text' size = 2 VALUE="$NB_F_0_1_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 1, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_1_9' NAME='NB_G_0_1_9' TYPE='text' size = 2 VALUE="$NB_G_0_1_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 1, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_1_9' NAME='NB_F_0_1_9' TYPE='text' size = 2 VALUE="$NB_F_0_1_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 1, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_1_10' NAME='NB_G_0_1_10' TYPE='text' size = 2 VALUE="$NB_G_0_1_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 1, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_1_10' NAME='NB_F_0_1_10' TYPE='text' size = 2 VALUE="$NB_F_0_1_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 1, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[7]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_1'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[7][0]	= "TOT_1280006_NB_G_LIGNE_0_1";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_1'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[7][1]	= "TOT_1280006_NB_F_LIGNE_0_1";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_1' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Troubles de comportements</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_12_7' NAME='NB_G_0_12_7' TYPE='text' size = 2 VALUE="$NB_G_0_12_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 12, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_12_7' NAME='NB_F_0_12_7' TYPE='text' size = 2 VALUE="$NB_F_0_12_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 12, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_12_8' NAME='NB_G_0_12_8' TYPE='text' size = 2 VALUE="$NB_G_0_12_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 12, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_12_8' NAME='NB_F_0_12_8' TYPE='text' size = 2 VALUE="$NB_F_0_12_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 12, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_12_9' NAME='NB_G_0_12_9' TYPE='text' size = 2 VALUE="$NB_G_0_12_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 12, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_12_9' NAME='NB_F_0_12_9' TYPE='text' size = 2 VALUE="$NB_F_0_12_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 12, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_12_10' NAME='NB_G_0_12_10' TYPE='text' size = 2 VALUE="$NB_G_0_12_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 12, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_12_10' NAME='NB_F_0_12_10' TYPE='text' size = 2 VALUE="$NB_F_0_12_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 12, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[8]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_12'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[8][0]	= "TOT_1280006_NB_G_LIGNE_0_12";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_12'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[8][1]	= "TOT_1280006_NB_F_LIGNE_0_12";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_12' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Troubles d'apprentissage</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_13_7' NAME='NB_G_0_13_7' TYPE='text' size = 2 VALUE="$NB_G_0_13_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 13, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_13_7' NAME='NB_F_0_13_7' TYPE='text' size = 2 VALUE="$NB_F_0_13_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 13, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_13_8' NAME='NB_G_0_13_8' TYPE='text' size = 2 VALUE="$NB_G_0_13_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 13, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_13_8' NAME='NB_F_0_13_8' TYPE='text' size = 2 VALUE="$NB_F_0_13_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 13, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_13_9' NAME='NB_G_0_13_9' TYPE='text' size = 2 VALUE="$NB_G_0_13_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 13, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_13_9' NAME='NB_F_0_13_9' TYPE='text' size = 2 VALUE="$NB_F_0_13_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 13, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_13_10' NAME='NB_G_0_13_10' TYPE='text' size = 2 VALUE="$NB_G_0_13_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 13, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_13_10' NAME='NB_F_0_13_10' TYPE='text' size = 2 VALUE="$NB_F_0_13_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 13, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[9]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_13'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[9][0]	= "TOT_1280006_NB_G_LIGNE_0_13";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_13'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[9][1]	= "TOT_1280006_NB_F_LIGNE_0_13";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_13' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Albinos</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_8_7' NAME='NB_G_0_8_7' TYPE='text' size = 2 VALUE="$NB_G_0_8_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 8, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_8_7' NAME='NB_F_0_8_7' TYPE='text' size = 2 VALUE="$NB_F_0_8_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 8, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_8_8' NAME='NB_G_0_8_8' TYPE='text' size = 2 VALUE="$NB_G_0_8_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 8, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_8_8' NAME='NB_F_0_8_8' TYPE='text' size = 2 VALUE="$NB_F_0_8_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 8, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_8_9' NAME='NB_G_0_8_9' TYPE='text' size = 2 VALUE="$NB_G_0_8_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 8, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_8_9' NAME='NB_F_0_8_9' TYPE='text' size = 2 VALUE="$NB_F_0_8_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 8, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_8_10' NAME='NB_G_0_8_10' TYPE='text' size = 2 VALUE="$NB_G_0_8_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 8, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_8_10' NAME='NB_F_0_8_10' TYPE='text' size = 2 VALUE="$NB_F_0_8_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 8, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[10]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_8'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[10][0]	= "TOT_1280006_NB_G_LIGNE_0_8";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_8'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[10][1]	= "TOT_1280006_NB_F_LIGNE_0_8";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_8' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Drépanocytaires</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_9_7' NAME='NB_G_0_9_7' TYPE='text' size = 2 VALUE="$NB_G_0_9_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 9, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_9_7' NAME='NB_F_0_9_7' TYPE='text' size = 2 VALUE="$NB_F_0_9_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 9, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_9_8' NAME='NB_G_0_9_8' TYPE='text' size = 2 VALUE="$NB_G_0_9_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 9, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_9_8' NAME='NB_F_0_9_8' TYPE='text' size = 2 VALUE="$NB_F_0_9_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 9, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_9_9' NAME='NB_G_0_9_9' TYPE='text' size = 2 VALUE="$NB_G_0_9_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 9, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_9_9' NAME='NB_F_0_9_9' TYPE='text' size = 2 VALUE="$NB_F_0_9_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 9, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_G_0_9_10' NAME='NB_G_0_9_10' TYPE='text' size = 2 VALUE="$NB_G_0_9_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 9, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-impaire'><INPUT  ID='NB_F_0_9_10' NAME='NB_F_0_9_10' TYPE='text' size = 2 VALUE="$NB_F_0_9_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 9, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[11]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_9'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[11][0]	= "TOT_1280006_NB_G_LIGNE_0_9";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_9'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[11][1]	= "TOT_1280006_NB_F_LIGNE_0_9";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_9' size = 2></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Autres </TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_10_7' NAME='NB_G_0_10_7' TYPE='text' size = 2 VALUE="$NB_G_0_10_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 10, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_10_7' NAME='NB_F_0_10_7' TYPE='text' size = 2 VALUE="$NB_F_0_10_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 10, 7, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_10_8' NAME='NB_G_0_10_8' TYPE='text' size = 2 VALUE="$NB_G_0_10_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 10, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_10_8' NAME='NB_F_0_10_8' TYPE='text' size = 2 VALUE="$NB_F_0_10_8"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 10, 8, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_10_9' NAME='NB_G_0_10_9' TYPE='text' size = 2 VALUE="$NB_G_0_10_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 10, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_10_9' NAME='NB_F_0_10_9' TYPE='text' size = 2 VALUE="$NB_F_0_10_9"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 10, 9, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_G_0_10_10' NAME='NB_G_0_10_10' TYPE='text' size = 2 VALUE="$NB_G_0_10_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_G', tab_ligne_1280006, tab_col_1280006, 10, 10, tab_mes_1280006);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NB_F_0_10_10' NAME='NB_F_0_10_10' TYPE='text' size = 2 VALUE="$NB_F_0_10_10"  onchange="set_TOTAL_MatFrml_Champ('form1', 1280006, 0, 'NB_F', tab_ligne_1280006, tab_col_1280006, 10, 10, tab_mes_1280006);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[12]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_LIGNE_0_10'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[12][0]	= "TOT_1280006_NB_G_LIGNE_0_10";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_LIGNE_0_10'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_1280006[12][1]	= "TOT_1280006_NB_F_LIGNE_0_10";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_LIGNE_0_10' size = 2></TD>

	</TR>

	<TR>

	<TD align='center' rowspan='2' bgcolor='#CCCCCC'><br>TOTAL</TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[0]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_COLONNE_0_7'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[0][0]	= "TOT_1280006_NB_G_COLONNE_0_7";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_COLONNE_0_7'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[0][1]	= "TOT_1280006_NB_F_COLONNE_0_7";
</script>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[1]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_COLONNE_0_8'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[1][0]	= "TOT_1280006_NB_G_COLONNE_0_8";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_COLONNE_0_8'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[1][1]	= "TOT_1280006_NB_F_COLONNE_0_8";
</script>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[2]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_COLONNE_0_9'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[2][0]	= "TOT_1280006_NB_G_COLONNE_0_9";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_COLONNE_0_9'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[2][1]	= "TOT_1280006_NB_F_COLONNE_0_9";
</script>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[3]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_G_COLONNE_0_10'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[3][0]	= "TOT_1280006_NB_G_COLONNE_0_10";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size = 2 NAME='TOT_1280006_NB_F_COLONNE_0_10'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_1280006[3][1]	= "TOT_1280006_NB_F_COLONNE_0_10";
</script>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  style='vertical-align:middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;'  size = 2 NAME='TOT_1280006_NB_G_COLONNE_0'></TD>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  style='vertical-align:middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;'  size = 2 NAME='TOT_1280006_NB_F_COLONNE_0'></TD>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  style='vertical-align:middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_1280006_ALL_MES_0' size = 2></TD>

	</TR>

	<TR>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_1280006_ALL_MES_COLONNE_0_7' size = 2></TD>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_1280006_ALL_MES_COLONNE_0_8' size = 2></TD>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_1280006_ALL_MES_COLONNE_0_9' size = 2></TD>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_1280006_ALL_MES_COLONNE_0_10' size = 2></TD>

	</TR>
</TABLE></TD>
	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédant&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
 set_TOTAL_MatFrml('form1',1280006, 0, tab_mes_1280006, tab_ligne_1280006, tab_col_1280006);
</script>
