<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<script language='javascript' type='text/javascript'>
var tab_chps = new Array();
</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=8602' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'>
<CAPTION><B>Nouveau</B></CAPTION>
	<TR class=''>
		<TD colspan=4 valign='top'>&nbsp;<TABLE class='table-questionnaire' border=1>
	<TR>
		<TD  ROWSPAN=2   CLASS='ligne-titre'>&nbsp</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>moins de 6 ans</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>6 ans </TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>7 ans </TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>8 ans </TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>9 ans</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>10 ans </TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>11 ans</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>12 ans</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>13 ans </TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>14 ans </TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>plus de 14 ans</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Plus de 9 ans</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>12 ans et plus</TD>

	</TR>

	<TR>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>
		<TD  align='center'>F</TD>
		<TD  align='center'>G</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >CI</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_1' NAME='NB_FILLES_PASSERELLE_0_1_1' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_1' NAME='NB_GARCONS_PASSERELLE_0_1_1' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_2' NAME='NB_FILLES_PASSERELLE_0_1_2' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_2' NAME='NB_GARCONS_PASSERELLE_0_1_2' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_3' NAME='NB_FILLES_PASSERELLE_0_1_3' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_3' NAME='NB_GARCONS_PASSERELLE_0_1_3' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_4' NAME='NB_FILLES_PASSERELLE_0_1_4' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_4' NAME='NB_GARCONS_PASSERELLE_0_1_4' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_5' NAME='NB_FILLES_PASSERELLE_0_1_5' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_5' NAME='NB_GARCONS_PASSERELLE_0_1_5' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_6' NAME='NB_FILLES_PASSERELLE_0_1_6' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_6' NAME='NB_GARCONS_PASSERELLE_0_1_6' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_7' NAME='NB_FILLES_PASSERELLE_0_1_7' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_7' NAME='NB_GARCONS_PASSERELLE_0_1_7' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_8' NAME='NB_FILLES_PASSERELLE_0_1_8' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_8' NAME='NB_GARCONS_PASSERELLE_0_1_8' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_9' NAME='NB_FILLES_PASSERELLE_0_1_9' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_9' NAME='NB_GARCONS_PASSERELLE_0_1_9' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_10' NAME='NB_FILLES_PASSERELLE_0_1_10' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_10' NAME='NB_GARCONS_PASSERELLE_0_1_10' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_11' NAME='NB_FILLES_PASSERELLE_0_1_11' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_11' NAME='NB_GARCONS_PASSERELLE_0_1_11' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_27' NAME='NB_FILLES_PASSERELLE_0_1_27' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_27' NAME='NB_GARCONS_PASSERELLE_0_1_27' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_1_29' NAME='NB_FILLES_PASSERELLE_0_1_29' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_1_29"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_1_29' NAME='NB_GARCONS_PASSERELLE_0_1_29' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_1_29"  tabindex=''>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >CP</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_1' NAME='NB_FILLES_PASSERELLE_0_2_1' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_1' NAME='NB_GARCONS_PASSERELLE_0_2_1' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_2' NAME='NB_FILLES_PASSERELLE_0_2_2' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_2' NAME='NB_GARCONS_PASSERELLE_0_2_2' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_3' NAME='NB_FILLES_PASSERELLE_0_2_3' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_3' NAME='NB_GARCONS_PASSERELLE_0_2_3' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_4' NAME='NB_FILLES_PASSERELLE_0_2_4' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_4' NAME='NB_GARCONS_PASSERELLE_0_2_4' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_5' NAME='NB_FILLES_PASSERELLE_0_2_5' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_5' NAME='NB_GARCONS_PASSERELLE_0_2_5' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_6' NAME='NB_FILLES_PASSERELLE_0_2_6' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_6' NAME='NB_GARCONS_PASSERELLE_0_2_6' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_7' NAME='NB_FILLES_PASSERELLE_0_2_7' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_7' NAME='NB_GARCONS_PASSERELLE_0_2_7' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_8' NAME='NB_FILLES_PASSERELLE_0_2_8' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_8' NAME='NB_GARCONS_PASSERELLE_0_2_8' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_9' NAME='NB_FILLES_PASSERELLE_0_2_9' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_9' NAME='NB_GARCONS_PASSERELLE_0_2_9' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_10' NAME='NB_FILLES_PASSERELLE_0_2_10' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_10' NAME='NB_GARCONS_PASSERELLE_0_2_10' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_11' NAME='NB_FILLES_PASSERELLE_0_2_11' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_11' NAME='NB_GARCONS_PASSERELLE_0_2_11' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_27' NAME='NB_FILLES_PASSERELLE_0_2_27' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_27' NAME='NB_GARCONS_PASSERELLE_0_2_27' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_2_29' NAME='NB_FILLES_PASSERELLE_0_2_29' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_2_29"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_2_29' NAME='NB_GARCONS_PASSERELLE_0_2_29' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_2_29"  tabindex=''>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >CE1</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_1' NAME='NB_FILLES_PASSERELLE_0_3_1' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_1' NAME='NB_GARCONS_PASSERELLE_0_3_1' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_2' NAME='NB_FILLES_PASSERELLE_0_3_2' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_2' NAME='NB_GARCONS_PASSERELLE_0_3_2' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_3' NAME='NB_FILLES_PASSERELLE_0_3_3' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_3' NAME='NB_GARCONS_PASSERELLE_0_3_3' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_4' NAME='NB_FILLES_PASSERELLE_0_3_4' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_4' NAME='NB_GARCONS_PASSERELLE_0_3_4' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_5' NAME='NB_FILLES_PASSERELLE_0_3_5' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_5' NAME='NB_GARCONS_PASSERELLE_0_3_5' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_6' NAME='NB_FILLES_PASSERELLE_0_3_6' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_6' NAME='NB_GARCONS_PASSERELLE_0_3_6' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_7' NAME='NB_FILLES_PASSERELLE_0_3_7' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_7' NAME='NB_GARCONS_PASSERELLE_0_3_7' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_8' NAME='NB_FILLES_PASSERELLE_0_3_8' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_8' NAME='NB_GARCONS_PASSERELLE_0_3_8' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_9' NAME='NB_FILLES_PASSERELLE_0_3_9' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_9' NAME='NB_GARCONS_PASSERELLE_0_3_9' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_10' NAME='NB_FILLES_PASSERELLE_0_3_10' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_10' NAME='NB_GARCONS_PASSERELLE_0_3_10' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_11' NAME='NB_FILLES_PASSERELLE_0_3_11' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_11' NAME='NB_GARCONS_PASSERELLE_0_3_11' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_27' NAME='NB_FILLES_PASSERELLE_0_3_27' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_27' NAME='NB_GARCONS_PASSERELLE_0_3_27' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_29' NAME='NB_FILLES_PASSERELLE_0_3_29' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_3_29"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_29' NAME='NB_GARCONS_PASSERELLE_0_3_29' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_3_29"  tabindex=''>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >CE2</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_1' NAME='NB_FILLES_PASSERELLE_0_4_1' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_1' NAME='NB_GARCONS_PASSERELLE_0_4_1' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_2' NAME='NB_FILLES_PASSERELLE_0_4_2' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_2' NAME='NB_GARCONS_PASSERELLE_0_4_2' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_3' NAME='NB_FILLES_PASSERELLE_0_4_3' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_3' NAME='NB_GARCONS_PASSERELLE_0_4_3' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_4' NAME='NB_FILLES_PASSERELLE_0_4_4' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_4' NAME='NB_GARCONS_PASSERELLE_0_4_4' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_5' NAME='NB_FILLES_PASSERELLE_0_4_5' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_5' NAME='NB_GARCONS_PASSERELLE_0_4_5' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_6' NAME='NB_FILLES_PASSERELLE_0_4_6' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_6' NAME='NB_GARCONS_PASSERELLE_0_4_6' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_7' NAME='NB_FILLES_PASSERELLE_0_4_7' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_7' NAME='NB_GARCONS_PASSERELLE_0_4_7' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_8' NAME='NB_FILLES_PASSERELLE_0_4_8' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_8' NAME='NB_GARCONS_PASSERELLE_0_4_8' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_9' NAME='NB_FILLES_PASSERELLE_0_4_9' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_9' NAME='NB_GARCONS_PASSERELLE_0_4_9' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_10' NAME='NB_FILLES_PASSERELLE_0_4_10' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_10' NAME='NB_GARCONS_PASSERELLE_0_4_10' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_11' NAME='NB_FILLES_PASSERELLE_0_4_11' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_11' NAME='NB_GARCONS_PASSERELLE_0_4_11' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_27' NAME='NB_FILLES_PASSERELLE_0_4_27' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_27' NAME='NB_GARCONS_PASSERELLE_0_4_27' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_29' NAME='NB_FILLES_PASSERELLE_0_4_29' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_4_29"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_29' NAME='NB_GARCONS_PASSERELLE_0_4_29' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_4_29"  tabindex=''>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >CM1</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_1' NAME='NB_FILLES_PASSERELLE_0_5_1' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_1' NAME='NB_GARCONS_PASSERELLE_0_5_1' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_2' NAME='NB_FILLES_PASSERELLE_0_5_2' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_2' NAME='NB_GARCONS_PASSERELLE_0_5_2' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_3' NAME='NB_FILLES_PASSERELLE_0_5_3' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_3' NAME='NB_GARCONS_PASSERELLE_0_5_3' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_4' NAME='NB_FILLES_PASSERELLE_0_5_4' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_4' NAME='NB_GARCONS_PASSERELLE_0_5_4' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_5' NAME='NB_FILLES_PASSERELLE_0_5_5' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_5' NAME='NB_GARCONS_PASSERELLE_0_5_5' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_6' NAME='NB_FILLES_PASSERELLE_0_5_6' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_6' NAME='NB_GARCONS_PASSERELLE_0_5_6' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_7' NAME='NB_FILLES_PASSERELLE_0_5_7' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_7' NAME='NB_GARCONS_PASSERELLE_0_5_7' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_8' NAME='NB_FILLES_PASSERELLE_0_5_8' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_8' NAME='NB_GARCONS_PASSERELLE_0_5_8' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_9' NAME='NB_FILLES_PASSERELLE_0_5_9' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_9' NAME='NB_GARCONS_PASSERELLE_0_5_9' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_10' NAME='NB_FILLES_PASSERELLE_0_5_10' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_10' NAME='NB_GARCONS_PASSERELLE_0_5_10' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_11' NAME='NB_FILLES_PASSERELLE_0_5_11' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_11' NAME='NB_GARCONS_PASSERELLE_0_5_11' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_27' NAME='NB_FILLES_PASSERELLE_0_5_27' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_27' NAME='NB_GARCONS_PASSERELLE_0_5_27' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_5_29' NAME='NB_FILLES_PASSERELLE_0_5_29' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_5_29"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_5_29' NAME='NB_GARCONS_PASSERELLE_0_5_29' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_5_29"  tabindex=''>
</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >CM2</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_1' NAME='NB_FILLES_PASSERELLE_0_6_1' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_1' NAME='NB_GARCONS_PASSERELLE_0_6_1' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_1"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_2' NAME='NB_FILLES_PASSERELLE_0_6_2' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_2' NAME='NB_GARCONS_PASSERELLE_0_6_2' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_2"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_3' NAME='NB_FILLES_PASSERELLE_0_6_3' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_3' NAME='NB_GARCONS_PASSERELLE_0_6_3' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_3"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_4' NAME='NB_FILLES_PASSERELLE_0_6_4' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_4' NAME='NB_GARCONS_PASSERELLE_0_6_4' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_4"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_5' NAME='NB_FILLES_PASSERELLE_0_6_5' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_5' NAME='NB_GARCONS_PASSERELLE_0_6_5' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_5"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_6' NAME='NB_FILLES_PASSERELLE_0_6_6' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_6' NAME='NB_GARCONS_PASSERELLE_0_6_6' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_6"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_7' NAME='NB_FILLES_PASSERELLE_0_6_7' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_7' NAME='NB_GARCONS_PASSERELLE_0_6_7' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_7"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_8' NAME='NB_FILLES_PASSERELLE_0_6_8' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_8' NAME='NB_GARCONS_PASSERELLE_0_6_8' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_8"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_9' NAME='NB_FILLES_PASSERELLE_0_6_9' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_9' NAME='NB_GARCONS_PASSERELLE_0_6_9' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_9"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_10' NAME='NB_FILLES_PASSERELLE_0_6_10' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_10' NAME='NB_GARCONS_PASSERELLE_0_6_10' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_10"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_11' NAME='NB_FILLES_PASSERELLE_0_6_11' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_11' NAME='NB_GARCONS_PASSERELLE_0_6_11' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_11"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_27' NAME='NB_FILLES_PASSERELLE_0_6_27' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_27' NAME='NB_GARCONS_PASSERELLE_0_6_27' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_27"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_6_29' NAME='NB_FILLES_PASSERELLE_0_6_29' TYPE='text'  VALUE="$NB_FILLES_PASSERELLE_0_6_29"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_6_29' NAME='NB_GARCONS_PASSERELLE_0_6_29' TYPE='text'  VALUE="$NB_GARCONS_PASSERELLE_0_6_29"  tabindex=''>
</TD>

	</TR>
</TABLE></TD>
	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédent&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
