<BR/><script language="javascript" type="text/javascript">
				var ctrlSaisieLst = new Array();

				var do_submit = true;
				function do_post(form_name){
					/*requiredInputs = $('input[required]:not(:disabled)');
					for(var i= 0; i < requiredInputs.length; i++)
					{
						 var cinput = requiredInputs[i];
						 if(!$(cinput).val()) {
							 return false;
						 }
					}*/
					ctrl_saisie();
					if( do_submit == true ){			eval('document.'+form_name+'.submit();');
					}
				}
				
				$(function() {
					$.each(ctrlSaisieLst, function(idx, ctrlSaisie) {
						if (ctrlSaisie[3] == "si") {
							$("FORM").find('input[id^="'+ctrlSaisie[1]+'"]').click(function(index) {
								desactiver_zone($(this).val(), ctrlSaisie[4].split(";")[0].split(","), ctrlSaisie[4].split(";")[1]);
							});
							$("FORM").find('input[id^="'+ctrlSaisie[1]+'"]').each(function(index) {
								if ($(this).is(":checked")) {
									desactiver_zone($(this).val(), ctrlSaisie[4].split(";")[0].split(","), ctrlSaisie[4].split(";")[1]);
								}
							});
							if($("FORM").find('input[id^="'+ctrlSaisie[1]+'"]:checked').length == 0) {
								desactiver_zone('', ctrlSaisie[4].split(";")[0].split(","), ctrlSaisie[4].split(";")[1]);
							}
						}
					});	
				});
				</script>
<script language='javascript' type='text/javascript'>
var tab_chps = new Array();
</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=9403' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'>
<CAPTION><B>Récapitulatif  des locaux par nature mur</B></CAPTION>
	<TR class='ligne-impaire-left'>
		<TD  class='td_left' colspan='2'>&nbsp;Total Salles de classe&nbsp;&nbsp;&nbsp;<INPUT NAME='NOMBRE_TOTAL_SALLE_CLASSE_0' TYPE='text' size=5  style='text-align:right'  ID='NOMBRE_TOTAL_SALLE_CLASSE_0' VALUE="$NOMBRE_TOTAL_SALLE_CLASSE_0" >
&nbsp;</TD>
		<TD  class='td_left' colspan='2'>&nbsp;Total Salles de classe  Utilisées&nbsp;&nbsp;&nbsp;<INPUT NAME='TOTAL_SALLE_UTILISES_0' TYPE='text' size=5  style='text-align:right'  ID='TOTAL_SALLE_UTILISES_0' VALUE="$TOTAL_SALLE_UTILISES_0" >
&nbsp;</TD>
	</TR>
	<TR class='ligne-impaire-left'>
		<TD colspan=4 valign='top'>&nbsp;<b><br>Nombre de salles de classe utilisées selon la nature des murs<br><br></b><script language='javascript' type='text/javascript'>
var expression_940011 	= "";
var tot_mes_ligne_940011 	= new Array();
var tot_mes_col_940011 	= new Array();
var affich_vertic_mes_940011 	= 0;
var affiche_sous_totaux_940011 	= 0;
var tab_mes_940011 	= new Array ("NOMBRE_SALLES_CLASSE");
var tab_ligne_940011	= new Array ();
var tab_col_940011	= new Array ("1","2","3");

</script>
<TABLE class='table-questionnaire' border=1>
	<TR>
		<TD    CLASS='ligne-titre'>&nbsp</TD>
		<TD   CLASS='ligne-titre' align='center'>en dur</TD>
		<TD   CLASS='ligne-titre' align='center'>semi dur (banco...)</TD>
		<TD   CLASS='ligne-titre' align='center'>Paillotes</TD>
		<TD  CLASS='ligne-titre' align='center' >TOTAL</TD>

	</TR>

	<TR>

		<TD  CLASS='ligne-paire'>&nbsp;</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NOMBRE_SALLES_CLASSE_0_1' NAME='NOMBRE_SALLES_CLASSE_0_1' TYPE='text' size=5 VALUE="$NOMBRE_SALLES_CLASSE_0_1"  onchange="set_TOTAL_MatFrml('form1',940011, 0, tab_mes_940011, tab_ligne_940011, tab_col_940011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NOMBRE_SALLES_CLASSE_0_2' NAME='NOMBRE_SALLES_CLASSE_0_2' TYPE='text' size=5 VALUE="$NOMBRE_SALLES_CLASSE_0_2"  onchange="set_TOTAL_MatFrml('form1',940011, 0, tab_mes_940011, tab_ligne_940011, tab_col_940011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' style='vertical-align:middle' CLASS='ligne-paire'><INPUT  ID='NOMBRE_SALLES_CLASSE_0_3' NAME='NOMBRE_SALLES_CLASSE_0_3' TYPE='text' size=5 VALUE="$NOMBRE_SALLES_CLASSE_0_3"  onchange="set_TOTAL_MatFrml('form1',940011, 0, tab_mes_940011, tab_ligne_940011, tab_col_940011);"  tabindex=''>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'>  <INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=5 NAME='TOT_940011_NOMBRE_SALLES_CLASSE_LIGNE_0'></TD>

	</TR>
</TABLE></TD>
	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédant&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
 set_TOTAL_MatFrml('form1',940011, 0, tab_mes_940011, tab_ligne_940011, tab_col_940011);
</script>
