<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<script language='javascript' type='text/javascript'>
var tab_chps = new Array();
</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=8602' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'>
<CAPTION><B>XI. EFFECTIF DES ELEVES PROVENANT DES CLASSES PASSERELLES <BR/>(EDUCATION NON FORMELLE)</B></CAPTION>
	<TR class=''>
		<TD colspan=4 valign='top'>&nbsp;<script language='javascript' type='text/javascript'>
var expression_860005 	= "";
var tot_mes_ligne_860005 	= new Array();
var tot_mes_col_860005 	= new Array();
var affich_vertic_mes_860005 	= 1;
var affiche_sous_totaux_860005 	= 1;
var tab_mes_860005 	= new Array ("NB_GARCONS_PASSERELLE","NB_FILLES_PASSERELLE");
var tab_ligne_860005	= new Array ("3","4");
var tab_col_860005	= new Array ("5","6","7","29");

</script>
<TABLE class='table-questionnaire' border=1>
	<TR>
		<TD  COLSPAN=2   CLASS='ligne-titre'>&nbsp</TD>
		<TD CLASS='ligne-titre' align='center'>9 ans</TD>
		<TD CLASS='ligne-titre' align='center'>10 ans </TD>
		<TD CLASS='ligne-titre' align='center'>11 ans</TD>
		<TD CLASS='ligne-titre' align='center'>12 ans et plus</TD>
		<TD  CLASS='ligne-titre' align='center'  >TOTAL</TD>

	</TR>

	<TR>

		<TD  ROWSPAN=4  style='vertical-align:middle' CLASS='ligne-paire' >CE1</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_860005[0]	= new Array();
</script>

	<TR>
		<TD  nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'>G</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_5' NAME='NB_GARCONS_PASSERELLE_0_3_5' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_3_5"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 5, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_6' NAME='NB_GARCONS_PASSERELLE_0_3_6' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_3_6"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 6, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_7' NAME='NB_GARCONS_PASSERELLE_0_3_7' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_3_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 7, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_3_29' NAME='NB_GARCONS_PASSERELLE_0_3_29' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_3_29"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 29, tab_mes_860005);"  tabindex=''>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_GARCONS_PASSERELLE_LIGNE_0_3' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_860005[0][0]	= "TOT_860005_NB_GARCONS_PASSERELLE_LIGNE_0_3";
</script>

	</TR>

	<TR>
		<TD  nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'>F</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_5' NAME='NB_FILLES_PASSERELLE_0_3_5' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_3_5"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 5, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_6' NAME='NB_FILLES_PASSERELLE_0_3_6' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_3_6"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 6, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_7' NAME='NB_FILLES_PASSERELLE_0_3_7' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_3_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 7, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NB_FILLES_PASSERELLE_0_3_29' NAME='NB_FILLES_PASSERELLE_0_3_29' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_3_29"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 3, 29, tab_mes_860005);"  tabindex=''>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_FILLES_PASSERELLE_LIGNE_0_3' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_860005[0][1]	= "TOT_860005_NB_FILLES_PASSERELLE_LIGNE_0_3";
</script>

	</TR>

	<TR>
		<TD  align='center' valign='middle' CLASS='ligne-paire'>TOTAL</TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_3_5' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_3_6' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_3_7' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_3_29' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC' style='vertical-align:middle'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_ALL_MES_LIGNE_0_3' size=2></TD>

	</TR>

	<TR>

		<TD  ROWSPAN=4  style='vertical-align:middle' CLASS='ligne-impaire' >CE2</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_860005[1]	= new Array();
</script>

	<TR>
		<TD  nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'>G</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_5' NAME='NB_GARCONS_PASSERELLE_0_4_5' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_4_5"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 5, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_6' NAME='NB_GARCONS_PASSERELLE_0_4_6' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_4_6"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 6, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_7' NAME='NB_GARCONS_PASSERELLE_0_4_7' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_4_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 7, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_GARCONS_PASSERELLE_0_4_29' NAME='NB_GARCONS_PASSERELLE_0_4_29' TYPE='text' size=2 VALUE="$NB_GARCONS_PASSERELLE_0_4_29"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_GARCONS_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 29, tab_mes_860005);"  tabindex=''>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_GARCONS_PASSERELLE_LIGNE_0_4' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_860005[1][0]	= "TOT_860005_NB_GARCONS_PASSERELLE_LIGNE_0_4";
</script>

	</TR>

	<TR>
		<TD  nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'>F</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_5' NAME='NB_FILLES_PASSERELLE_0_4_5' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_4_5"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 5, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_6' NAME='NB_FILLES_PASSERELLE_0_4_6' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_4_6"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 6, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_7' NAME='NB_FILLES_PASSERELLE_0_4_7' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_4_7"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 7, tab_mes_860005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NB_FILLES_PASSERELLE_0_4_29' NAME='NB_FILLES_PASSERELLE_0_4_29' TYPE='text' size=2 VALUE="$NB_FILLES_PASSERELLE_0_4_29"  onchange="set_TOTAL_MatFrml_Champ('form1', 860005, 0, 'NB_FILLES_PASSERELLE', tab_ligne_860005, tab_col_860005, 4, 29, tab_mes_860005);"  tabindex=''>
</TD>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_FILLES_PASSERELLE_LIGNE_0_4' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_860005[1][1]	= "TOT_860005_NB_FILLES_PASSERELLE_LIGNE_0_4";
</script>

	</TR>

	<TR>
		<TD  align='center' valign='middle' CLASS='ligne-impaire'>TOTAL</TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_4_5' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_4_6' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_4_7' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_4_29' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC' style='vertical-align:middle'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_ALL_MES_LIGNE_0_4' size=2></TD>

	</TR>

	<TR>

	<TD align='center' rowspan='3' style='vertical-align:middle' bgcolor='#CCCCCC'>TOTAL</TD>
		<TD  align='center' bgcolor='#CCCCCC'>G</TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[0]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_5' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[0][0]	= "TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_5";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_6' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[0][1]	= "TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_6";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_7' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[0][2]	= "TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_7";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_29' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[0][3]	= "TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0_29";
</script>
		<td   align='center' bgcolor='#CCCCCC'  style='vertical-align:middle'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_GARCONS_PASSERELLE_COLONNE_0' size=2></TD>

	</TR>

	<TR>
		<TD  align='center' bgcolor='#CCCCCC'>F</TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[1]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_5' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[1][0]	= "TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_5";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_6' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[1][1]	= "TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_6";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_7' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[1][2]	= "TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_7";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_29' size=2></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_860005[1][3]	= "TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0_29";
</script>
		<td   align='center' bgcolor='#CCCCCC'  style='vertical-align:middle'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_NB_FILLES_PASSERELLE_COLONNE_0' size=2></TD>

	</TR>

	<TR>
		<TD  align='center' bgcolor='#CCCCCC'>G + F</TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_0_5' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_0_6' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_0_7' size=2></TD>
		<TD align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold' NAME='TOT_860005_ALL_MES_COLONNE_0_29' size=2></TD>
		<td   align='center' bgcolor='#CCCCCC' style='vertical-align:middle'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; width:50px; font-weight:bold;' NAME='TOT_860005_ALL_MES_0' size=2></TD>

	</TR>
</TABLE></TD>
	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédent&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
 set_TOTAL_MatFrml('form1',860005, 0, tab_mes_860005, tab_ligne_860005, tab_col_860005);
</script>
