<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<script language='javascript' type='text/javascript'>
var tab_chps = new Array();
</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=3905' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'>
<CAPTION><B>4.3 Alphabétisation : Effectif des auditeurs (apprenants) par niveau et sexe</B></CAPTION>
	<TR class=''>
		<TD colspan=4 valign='top'>&nbsp;<script language='javascript' type='text/javascript'>
var expression_390011 	= "";
var tot_mes_ligne_390011 	= new Array();
var tot_mes_col_390011 	= new Array();
var affich_vertic_mes_390011 	= 0;
var affiche_sous_totaux_390011 	= 0;
var tab_mes_390011 	= new Array ("NBRE_HOMMES_EFFECTIF","NBRE_FEMMES_EFFECTIF");
var tab_ligne_390011	= new Array ("37","38","39","40");
var tab_col_390011	= new Array ("1","2","3");

</script>
<TABLE class='table-questionnaire' border=1>
	<TR>
		<TD  ROWSPAN=2   CLASS='ligne-titre'>&nbsp</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Nombre des inscrits</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Nombre des alphabétisés</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Nombre des recalés</TD>
		<TD  CLASS='ligne-titre' align='center'  COLSPAN=3 >TOTAL</TD>

	</TR>

	<TR>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes + Femmes</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Niveau 1</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_37_1' NAME='NBRE_HOMMES_EFFECTIF_0_37_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_37_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 37, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_37_1' NAME='NBRE_FEMMES_EFFECTIF_0_37_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_37_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 37, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_37_2' NAME='NBRE_HOMMES_EFFECTIF_0_37_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_37_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 37, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_37_2' NAME='NBRE_FEMMES_EFFECTIF_0_37_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_37_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 37, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_37_3' NAME='NBRE_HOMMES_EFFECTIF_0_37_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_37_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 37, 3, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_37_3' NAME='NBRE_FEMMES_EFFECTIF_0_37_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_37_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 37, 3, tab_mes_390011);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[0]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_37'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[0][0]	= "TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_37";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_37'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[0][1]	= "TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_37";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_390011_ALL_MES_LIGNE_0_37' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Niveau 2</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_38_1' NAME='NBRE_HOMMES_EFFECTIF_0_38_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_38_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 38, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_38_1' NAME='NBRE_FEMMES_EFFECTIF_0_38_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_38_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 38, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_38_2' NAME='NBRE_HOMMES_EFFECTIF_0_38_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_38_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 38, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_38_2' NAME='NBRE_FEMMES_EFFECTIF_0_38_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_38_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 38, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_38_3' NAME='NBRE_HOMMES_EFFECTIF_0_38_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_38_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 38, 3, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_38_3' NAME='NBRE_FEMMES_EFFECTIF_0_38_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_38_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 38, 3, tab_mes_390011);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[1]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_38'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[1][0]	= "TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_38";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_38'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[1][1]	= "TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_38";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_390011_ALL_MES_LIGNE_0_38' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Niveau 3</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_39_1' NAME='NBRE_HOMMES_EFFECTIF_0_39_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_39_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 39, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_39_1' NAME='NBRE_FEMMES_EFFECTIF_0_39_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_39_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 39, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_39_2' NAME='NBRE_HOMMES_EFFECTIF_0_39_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_39_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 39, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_39_2' NAME='NBRE_FEMMES_EFFECTIF_0_39_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_39_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 39, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_39_3' NAME='NBRE_HOMMES_EFFECTIF_0_39_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_39_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 39, 3, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_39_3' NAME='NBRE_FEMMES_EFFECTIF_0_39_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_39_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 39, 3, tab_mes_390011);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[2]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_39'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[2][0]	= "TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_39";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_39'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[2][1]	= "TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_39";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_390011_ALL_MES_LIGNE_0_39' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >Post Alpha</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_40_1' NAME='NBRE_HOMMES_EFFECTIF_0_40_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_40_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 40, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_40_1' NAME='NBRE_FEMMES_EFFECTIF_0_40_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_40_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 40, 1, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_40_2' NAME='NBRE_HOMMES_EFFECTIF_0_40_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_40_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 40, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_40_2' NAME='NBRE_FEMMES_EFFECTIF_0_40_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_40_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 40, 2, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_HOMMES_EFFECTIF_0_40_3' NAME='NBRE_HOMMES_EFFECTIF_0_40_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_HOMMES_EFFECTIF_0_40_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_HOMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 40, 3, tab_mes_390011);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FEMMES_EFFECTIF_0_40_3' NAME='NBRE_FEMMES_EFFECTIF_0_40_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FEMMES_EFFECTIF_0_40_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 390011, 0, 'NBRE_FEMMES_EFFECTIF', tab_ligne_390011, tab_col_390011, 40, 3, tab_mes_390011);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[3]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_40'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[3][0]	= "TOT_390011_NBRE_HOMMES_EFFECTIF_LIGNE_0_40";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_40'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_390011[3][1]	= "TOT_390011_NBRE_FEMMES_EFFECTIF_LIGNE_0_40";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_390011_ALL_MES_LIGNE_0_40' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

	<TD align='center' rowspan='2' bgcolor='#CCCCCC'><br>TOTAL</TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[0]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_COLONNE_0_1'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[0][0]	= "TOT_390011_NBRE_HOMMES_EFFECTIF_COLONNE_0_1";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_COLONNE_0_1'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[0][1]	= "TOT_390011_NBRE_FEMMES_EFFECTIF_COLONNE_0_1";
</script>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[1]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_COLONNE_0_2'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[1][0]	= "TOT_390011_NBRE_HOMMES_EFFECTIF_COLONNE_0_2";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_COLONNE_0_2'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[1][1]	= "TOT_390011_NBRE_FEMMES_EFFECTIF_COLONNE_0_2";
</script>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[2]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_COLONNE_0_3'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[2][0]	= "TOT_390011_NBRE_HOMMES_EFFECTIF_COLONNE_0_3";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_COLONNE_0_3'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_390011[2][1]	= "TOT_390011_NBRE_FEMMES_EFFECTIF_COLONNE_0_3";
</script>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;'  size=10  style='text-align:right' NAME='TOT_390011_NBRE_HOMMES_EFFECTIF_COLONNE_0'></TD>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;'  size=10  style='text-align:right' NAME='TOT_390011_NBRE_FEMMES_EFFECTIF_COLONNE_0'></TD>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_390011_ALL_MES_0' size=10  style='text-align:right'></TD>

	</TR>

	<TR>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_390011_ALL_MES_COLONNE_0_1' size=10  style='text-align:right'></TD>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_390011_ALL_MES_COLONNE_0_2' size=10  style='text-align:right'></TD>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_390011_ALL_MES_COLONNE_0_3' size=10  style='text-align:right'></TD>

	</TR>
</TABLE></TD>
	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédent&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
 set_TOTAL_MatFrml('form1',390011, 0, tab_mes_390011, tab_ligne_390011, tab_col_390011);
</script>
