<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<script language='javascript' type='text/javascript'>
var tab_chps = new Array();
</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=4105' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border='1'>
<CAPTION><B>V &#8211;EFFECTIFS DES APPRENANTS PAR AGE</B></CAPTION>
	<TR class=''>
		<TD colspan=4 valign='top'>&nbsp;<script language='javascript' type='text/javascript'>
var expression_410005 	= "";
var tot_mes_ligne_410005 	= new Array();
var tot_mes_col_410005 	= new Array();
var affich_vertic_mes_410005 	= 0;
var affiche_sous_totaux_410005 	= 0;
var tab_mes_410005 	= new Array ("NBRE_GARCONS_AGE_ALPHA","NBRE_FILLES_AGE_ALPHA");
var tab_ligne_410005	= new Array ("21","22","23","24","25");
var tab_col_410005	= new Array ("1","2","3");

</script>
<TABLE class='table-questionnaire' border=1>
	<TR>
		<TD  ROWSPAN=2   CLASS='ligne-titre'>&nbsp</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>ETAPEs et Education permanente</TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Classes passerelles et Education accélérée </TD>
		<TD  COLSPAN=2  CLASS='ligne-titre' align='center'>Alphabétisation</TD>
		<TD  CLASS='ligne-titre' align='center'  COLSPAN=3 >TOTAL</TD>

	</TR>

	<TR>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes</TD>
		<TD  align='center'>Femmes</TD>
		<TD  align='center'>Hommes + Femmes</TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >3- 5 ans</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_21_1' NAME='NBRE_GARCONS_AGE_ALPHA_0_21_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_21_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 21, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_21_1' NAME='NBRE_FILLES_AGE_ALPHA_0_21_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_21_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 21, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_21_2' NAME='NBRE_GARCONS_AGE_ALPHA_0_21_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_21_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 21, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_21_2' NAME='NBRE_FILLES_AGE_ALPHA_0_21_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_21_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 21, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_21_3' NAME='NBRE_GARCONS_AGE_ALPHA_0_21_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_21_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 21, 3, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_21_3' NAME='NBRE_FILLES_AGE_ALPHA_0_21_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_21_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 21, 3, tab_mes_410005);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[0]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_21'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[0][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_21";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_21'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[0][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_21";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_410005_ALL_MES_LIGNE_0_21' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >6-14 ans</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_22_1' NAME='NBRE_GARCONS_AGE_ALPHA_0_22_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_22_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 22, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_22_1' NAME='NBRE_FILLES_AGE_ALPHA_0_22_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_22_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 22, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_22_2' NAME='NBRE_GARCONS_AGE_ALPHA_0_22_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_22_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 22, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_22_2' NAME='NBRE_FILLES_AGE_ALPHA_0_22_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_22_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 22, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_22_3' NAME='NBRE_GARCONS_AGE_ALPHA_0_22_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_22_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 22, 3, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_22_3' NAME='NBRE_FILLES_AGE_ALPHA_0_22_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_22_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 22, 3, tab_mes_410005);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[1]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_22'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[1][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_22";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_22'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[1][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_22";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_410005_ALL_MES_LIGNE_0_22' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >15-35 ans</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_23_1' NAME='NBRE_GARCONS_AGE_ALPHA_0_23_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_23_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 23, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_23_1' NAME='NBRE_FILLES_AGE_ALPHA_0_23_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_23_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 23, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_23_2' NAME='NBRE_GARCONS_AGE_ALPHA_0_23_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_23_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 23, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_23_2' NAME='NBRE_FILLES_AGE_ALPHA_0_23_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_23_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 23, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_23_3' NAME='NBRE_GARCONS_AGE_ALPHA_0_23_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_23_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 23, 3, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_23_3' NAME='NBRE_FILLES_AGE_ALPHA_0_23_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_23_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 23, 3, tab_mes_410005);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[2]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_23'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[2][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_23";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_23'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[2][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_23";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_410005_ALL_MES_LIGNE_0_23' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-impaire-left' >36- 65 ans</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_24_1' NAME='NBRE_GARCONS_AGE_ALPHA_0_24_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_24_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 24, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_24_1' NAME='NBRE_FILLES_AGE_ALPHA_0_24_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_24_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 24, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_24_2' NAME='NBRE_GARCONS_AGE_ALPHA_0_24_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_24_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 24, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_24_2' NAME='NBRE_FILLES_AGE_ALPHA_0_24_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_24_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 24, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_24_3' NAME='NBRE_GARCONS_AGE_ALPHA_0_24_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_24_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 24, 3, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-impaire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_24_3' NAME='NBRE_FILLES_AGE_ALPHA_0_24_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_24_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 24, 3, tab_mes_410005);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[3]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_24'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[3][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_24";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_24'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[3][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_24";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_410005_ALL_MES_LIGNE_0_24' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

		<TD CLASS='ligne-paire-left' >Plus de 65 ans</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_25_1' NAME='NBRE_GARCONS_AGE_ALPHA_0_25_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_25_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 25, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_25_1' NAME='NBRE_FILLES_AGE_ALPHA_0_25_1' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_25_1"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 25, 1, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_25_2' NAME='NBRE_GARCONS_AGE_ALPHA_0_25_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_25_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 25, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_25_2' NAME='NBRE_FILLES_AGE_ALPHA_0_25_2' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_25_2"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 25, 2, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_GARCONS_AGE_ALPHA_0_25_3' NAME='NBRE_GARCONS_AGE_ALPHA_0_25_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_GARCONS_AGE_ALPHA_0_25_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_GARCONS_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 25, 3, tab_mes_410005);"  tabindex=''>
</TD>
		<TD nowrap='nowrap' align='center' valign='middle' CLASS='ligne-paire'><INPUT  ID='NBRE_FILLES_AGE_ALPHA_0_25_3' NAME='NBRE_FILLES_AGE_ALPHA_0_25_3' TYPE='text' size=10  style='text-align:right' VALUE="$NBRE_FILLES_AGE_ALPHA_0_25_3"  onchange="set_TOTAL_MatFrml_Champ('form1', 410005, 0, 'NBRE_FILLES_AGE_ALPHA', tab_ligne_410005, tab_col_410005, 25, 3, tab_mes_410005);"  tabindex=''>
</TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[4]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_25'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[4][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_LIGNE_0_25";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_25'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_ligne_410005[4][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_LIGNE_0_25";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_410005_ALL_MES_LIGNE_0_25' size=10  style='text-align:right'></TD>

	</TR>

	<TR>

	<TD align='center' rowspan='2' bgcolor='#CCCCCC'><br>TOTAL</TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[0]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_COLONNE_0_1'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[0][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_COLONNE_0_1";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_COLONNE_0_1'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[0][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_COLONNE_0_1";
</script>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[1]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_COLONNE_0_2'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[1][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_COLONNE_0_2";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_COLONNE_0_2'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[1][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_COLONNE_0_2";
</script>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[2]	= new Array();
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_COLONNE_0_3'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[2][0]	= "TOT_410005_NBRE_GARCONS_AGE_ALPHA_COLONNE_0_3";
</script>
		<TD  align='center' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_COLONNE_0_3'></TD>
<script language='javascript' type='text/javascript'>
tot_mes_col_410005[2][1]	= "TOT_410005_NBRE_FILLES_AGE_ALPHA_COLONNE_0_3";
</script>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;'  size=10  style='text-align:right' NAME='TOT_410005_NBRE_GARCONS_AGE_ALPHA_COLONNE_0'></TD>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;'  size=10  style='text-align:right' NAME='TOT_410005_NBRE_FILLES_AGE_ALPHA_COLONNE_0'></TD>
		<td align='center' rowspan='2' bgcolor='#CCCCCC'  valign='middle'><br><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold;' NAME='TOT_410005_ALL_MES_0' size=10  style='text-align:right'></TD>

	</TR>

	<TR>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_410005_ALL_MES_COLONNE_0_1' size=10  style='text-align:right'></TD>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_410005_ALL_MES_COLONNE_0_2' size=10  style='text-align:right'></TD>
		<TD align='center' colspan='2' bgcolor='#CCCCCC'><INPUT TYPE= 'text' readonly='1' style='background-color:#CCCCCC; text-align: right; font-weight:bold' NAME='TOT_410005_ALL_MES_COLONNE_0_3' size=10  style='text-align:right'></TD>

	</TR>
</TABLE></TD>
	</TR>
</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédent&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
<script language='javascript' type='text/javascript'>
 set_TOTAL_MatFrml('form1',410005, 0, tab_mes_410005, tab_ligne_410005, tab_col_410005);
</script>
