<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=3301' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B>V/. EQUIPEMENT: Nombre de</B></CAPTION>
	<TR>
		<TD CLASS='ligne-paire'  align='center'>Balançoires</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_0' NAME='NOMBRE_MATERIEL_0' VALUE='$NOMBRE_MATERIEL_0' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Tobogans</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_1' NAME='NOMBRE_MATERIEL_1' VALUE='$NOMBRE_MATERIEL_1' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>Pont en liane</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_2' NAME='NOMBRE_MATERIEL_2' VALUE='$NOMBRE_MATERIEL_2' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Hamacs</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_3' NAME='NOMBRE_MATERIEL_3' VALUE='$NOMBRE_MATERIEL_3' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>Rateaux</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_4' NAME='NOMBRE_MATERIEL_4' VALUE='$NOMBRE_MATERIEL_4' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Tourniquets</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_5' NAME='NOMBRE_MATERIEL_5' VALUE='$NOMBRE_MATERIEL_5' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>Sautoir</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_6' NAME='NOMBRE_MATERIEL_6' VALUE='$NOMBRE_MATERIEL_6' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Brouettes</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_7' NAME='NOMBRE_MATERIEL_7' VALUE='$NOMBRE_MATERIEL_7' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>Pelles</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_8' NAME='NOMBRE_MATERIEL_8' VALUE='$NOMBRE_MATERIEL_8' size = 20></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Ballons</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='NOMBRE_MATERIEL_9' NAME='NOMBRE_MATERIEL_9' VALUE='$NOMBRE_MATERIEL_9' size = 20></TD>
	</TR>

</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédant&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
