<BR/><script language="javascript" type="text/javascript">
				var do_submit = true;
				function do_post(form_name){
					if( do_submit == true ){
						eval('document.'+form_name+'.submit();');
					}
				}
			</script>
<div align=center>
<FORM ACTION='questionnaire.php?theme_frame=1502' METHOD='POST' NAME='form1'>
<TABLE class='table-questionnaire' border=1><CAPTION><B>Tableau Récapitulatif du Personnel enseignant par qualification</B></CAPTION>
	<TR>
		<TD CLASS='ligne-impaire'>&nbsp;</TD>

		<TD CLASS='ligne-impaire' align='center'>Hommes</TD>

		<TD CLASS='ligne-impaire'>Femmes</TD>

	</TR>
	<TR>
		<TD CLASS='ligne-paire'  align='center'>Instituteur</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='HOMMES_ENS_QUALIF_0' NAME='HOMMES_ENS_QUALIF_0' VALUE='$HOMMES_ENS_QUALIF_0' size = 10></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='FEMMES_ENS_QUALIF_0' NAME='FEMMES_ENS_QUALIF_0' VALUE='$FEMMES_ENS_QUALIF_0' size = 10></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Instituteur Adjoint</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='HOMMES_ENS_QUALIF_1' NAME='HOMMES_ENS_QUALIF_1' VALUE='$HOMMES_ENS_QUALIF_1' size = 10></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='FEMMES_ENS_QUALIF_1' NAME='FEMMES_ENS_QUALIF_1' VALUE='$FEMMES_ENS_QUALIF_1' size = 10></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>Moniteur</TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='HOMMES_ENS_QUALIF_2' NAME='HOMMES_ENS_QUALIF_2' VALUE='$HOMMES_ENS_QUALIF_2' size = 10></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='FEMMES_ENS_QUALIF_2' NAME='FEMMES_ENS_QUALIF_2' VALUE='$FEMMES_ENS_QUALIF_2' size = 10></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Enseignant sans formation Pédagogique initiale</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='HOMMES_ENS_QUALIF_3' NAME='HOMMES_ENS_QUALIF_3' VALUE='$HOMMES_ENS_QUALIF_3' size = 10></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='FEMMES_ENS_QUALIF_3' NAME='FEMMES_ENS_QUALIF_3' VALUE='$FEMMES_ENS_QUALIF_3' size = 10></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-paire'  align='center'>Autre diplôme Pédagogique </TD>
		<TD class='ligne-paire'><INPUT TYPE= 'text'  ID='HOMMES_ENS_QUALIF_4' NAME='HOMMES_ENS_QUALIF_4' VALUE='$HOMMES_ENS_QUALIF_4' size = 10></TD>
		<TD class='ligne-paire'> <INPUT TYPE='text'  ID='FEMMES_ENS_QUALIF_4' NAME='FEMMES_ENS_QUALIF_4' VALUE='$FEMMES_ENS_QUALIF_4' size = 10></TD>
	</TR>

	<TR>
		<TD CLASS='ligne-impaire'  align='center'>Non enseignant</TD>
		<TD class='ligne-impaire'><INPUT TYPE= 'text'  ID='HOMMES_ENS_QUALIF_5' NAME='HOMMES_ENS_QUALIF_5' VALUE='$HOMMES_ENS_QUALIF_5' size = 10></TD>
		<TD class='ligne-impaire'> <INPUT TYPE='text'  ID='FEMMES_ENS_QUALIF_5' NAME='FEMMES_ENS_QUALIF_5' VALUE='$FEMMES_ENS_QUALIF_5' size = 10></TD>
	</TR>

</TABLE>
<BR />
							<DIV align=center id="submit_actions">
								<TABLE border="0">
									<TR>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_prev" name="btn_save_and_prev" value="&nbsp;&nbsp;<< Enregistrer & Précédant&nbsp;&nbsp;" onclick="Set_Element('save_and_prev', 'form1', 1); changer_action(); do_post('form1');"/></TD>
										<TD width="40%" align="center"><input style="width:98%; text-align:center;" type="button" name="btn_save_only" value="&nbsp;&nbsp;Enregistrer&nbsp;&nbsp;" onclick="javascript:changer_action(); do_post('form1')"/></TD>
										<TD width="30%" align="center"><input style="width:98%; text-align:center;" type="button" id="btn_save_and_next" name="btn_save_and_next" value="&nbsp;&nbsp;Enregistrer & Suivant >>&nbsp;&nbsp;" onclick="Set_Element('save_and_next', 'form1', 1); changer_action(); do_post('form1');"/></TD>
									</TR>
								</TABLE>
							</DIV>
							<INPUT type="hidden" name="switch_theme_id" id="switch_theme_id">
							<INPUT type="hidden" name="save_and_prev" id="save_and_prev">
							<INPUT type="hidden" name="save_and_next" id="save_and_next">
							</FORM></div>
